{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-03-01" class="before">
			Versión 1.2, 1 de Marzo de 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body">

			<h2>
				Entidad Legal
			</h2>

			<p>
				Fenilux Soluções Financeiras Ltda (“Fenilux”) es una compañía de responsabilidad limitada incorporada en Brasil bajo CNPO N° 44.626.880/0001-81, con domicilio registrado en Rua Manoel da Nóbrega, 1280, CEP 04001-902, Paraíso, São Paulo/SP.
			</p>

			<p>
				Como entidad regulada, Fenilux está obligada a cumplir con todas las leyes, regulaciones, avisos y pautas aplicables emitidas por la autoridad gubernamental y reguladora pertinente.
			</p>

			<h2>
				Advertencias
			</h2>

			<p>
				El contenido publicado en este sitio web ha sido investigado cuidadosamente. Sin embargo, Fenilux no puede garantizar la actualidad, corrección, integridad o calidad de la información proporcionada. Fenilux no acepta responsabilidad alguna por daños indirectos, mediados, incidentales o consecuentes derivados y/o vinculados con el uso de este sitio web.
			</p>

			<p>
				Todas las ofertas son no vinculantes. El autor se reserva explícitamente el derecho de modificar, cambiar o eliminar algunas de las páginas o la oferta completa sin previo aviso y de cesar la publicidad temporal o permanentemente. Las obligaciones contractuales acordadas por separado no se verán afectadas.
			</p>

			<h2>
				Referencias e Hiperenlaces
			</h2>

			<p>
				Fenilux aclara que el contenido de los sitios web enlazados u otros recursos en línea referenciados no necesariamente refleja sus opiniones e intenciones. En ningún caso asumimos responsabilidad por dicho contenido. Al momento de publicar un enlace, Fenilux garantiza, según su conocimiento, que los respectivos sitios web y recursos en línea estaban libres de contenido ilegal. Fenilux se desvincula explícitamente de todo el contenido, especialmente de aquellos que han sido modificados posteriormente al momento de establecer el enlace.
			</p>

			<h2>
				Copyright, marcas comerciales y diseños.
			</h2>

			<p>
				Fenilux es el único propietario de todos los derechos personales, derechos de explotación, derechos de marca y derechos en el sentido de la protección del diseño del contenido de este sitio web y del diseño óptico y técnico, incluido el código fuente.
			</p>

			<p>
				Todas las creaciones, marcas comerciales y patentes propiedad de terceros han sido licenciadas legalmente. En caso necesario, los propietarios y titulares de los derechos de autor son nombrados cumpliendo con esas licencias.
			</p>

			<h2>
				Cláusula de Divisibilidad
			</h2>

			<p>
				En caso de que alguna parte de las condiciones, avisos legales o exenciones de responsabilidad sea total o parcialmente nula legalmente, la validez de las cláusulas restantes se mantendrá intacta.
			</p>

			<h2>
				Ley aplicable y resolución de disputas
			</h2>

			<p>
				A pesar de que nuestro sitio web puede ser accedido desde numerosos lugares y países alrededor del mundo, tal circunstancia no debe interpretarse como consentimiento para someterse a la jurisdicción local correspondiente. Cualquier cuestión derivada de estos Términos de uso entre vos y Fenilux estará sujeta a las leyes de Brasil.
			</p>

			<p>
				Todas las disputas surgidas de estos Términos de uso o relacionadas con los mismos, incluidas aquellas derivadas de su interpretación, invalidez, ejecución o terminación, serán remitidas para su resolución a los tribunales competentes en Brasil.
			</p>

		</div>

	</article>

{% endblock %}