{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-03-01" class="before">
			Version 1.2, 1 March 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body">

			<h2>
				Legal Entity
			</h2>

			<p>
				Fenilux Soluções Financeiras Ltda (“Fenilux”) est une société à responsabilité limitée constituée au Brésil, sous le CNPJ n° 44.626.880/0001-81, avec un siège social situé à Rua Manoel da Nóbrega, 1280, CEP 04001-902, Paraíso, São Paulo/SP.
			</p>

			<p>
				En tant qu'entité réglementée, Fenilux est tenue de se conformer à toutes les lois, réglementations, avis et directives émis par l'autorité gouvernementale et de régulation compétente.
			</p>

			<h2>
				Clause de non-responsabilité
			</h2>

			<p>
				Le contenu publié sur ce site web a été soigneusement recherché. Cependant, Fenilux ne peut garantir l'actualité, la justesse, l'exhaustivité ou la qualité des informations fournies. Fenilux décline toute responsabilité pour les dommages indirects, médians, accessoires ou consécutifs découlant de l'utilisation de ce site web.
			</p>

			<p>
				Toutes les offres sont non contraignantes. L'auteur se réserve expressément le droit de modifier, de changer ou de supprimer certaines pages ou l'ensemble de l'offre sans préavis ou de cesser temporairement ou définitivement la publication. Les obligations contractuelles convenues séparément restent inchangées.
			</p>

			<h2>
				Références et (hyper)liens
			</h2>

			<p>
				Le contenu des sites web liés ou d'autres ressources en ligne référencées ne reflète pas nécessairement les opinions et intentions de Fenilux. Nous n'assumons aucune responsabilité et n'assumons aucune responsabilité pour un tel contenu. Fenilux assure que, à sa connaissance, au moment de la publication d'un lien, les sites web et ressources en ligne respectifs étaient exempts de contenu illégal et se dissocie explicitement de tout contenu, en particulier ceux qui ont changé après le moment de la mise en place du lien.
			</p>

			<h2>
				Droits d'auteur, marques et dessins
			</h2>

			<p>
				Fenilux est le propriétaire exclusif de tous les droits personnels, droits d'exploitation, droits de marque et droits au sens de la protection des dessins de contenu de ce site web et de la conception optique et technique incluant le code source.
			</p>

			<p>
				Toutes les créations, marques et brevets détenus par un tiers ont été légalement autorisés. Si nécessaire, les propriétaires et détenteurs des droits d'auteur sont nommés conformément à ces licences.
			</p>

			<h2>
				Clause de divisibilité
			</h2>

			<p>
				Si des parties des conditions, avis juridiques ou exclusions de responsabilité sont totalement ou partiellement juridiquement nulles, la validité des clauses restantes reste inchangée.
			</p>

			<h2>
				Loi applicable et règlement des différends
			</h2>

			<p>
				Bien que notre site web puisse être consulté depuis de nombreux endroits et pays à travers le monde, cela ne doit pas être interprété comme un consentement à se soumettre à cette juridiction locale. Toute relation entre vous et nous découlant de ces conditions d'utilisation sera régie par les lois du Brésil.
			</p>

			<p>
				Tous les litiges découlant de ces conditions d'utilisation ou y afférents, y compris ceux découlant de ou concernant leur interprétation, leur invalidité, leur exécution ou leur résiliation, seront soumis aux tribunaux compétents au Brésil.
			</p>

		</div>

	</article>

{% endblock %}