{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-03-01" class="before">
			Versão 1.2, 1º de março de 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body">

			<h2>
				Pessoa Jurídica
			</h2>

			<p>
				Fenilux Soluções Financeiras Ltda (“Fenilux”) under é uma sociedade limitada constituída no Brasil, sob CNPJ N. 44.626.880/0001-81, com sede na Rua Manoel da Nóbrega, 1280, CEP 04001-902, Paraíso, São Paulo/SP.
			</p>

			<p>
				Como entidade regulamentada, a Fenilux é obrigada a cumprir todas as leis, regulamentos, avisos e diretrizes aplicáveis ​​emitidos pelo governo relevante e pela autoridade reguladora.
			</p>

			<h2>
				Isenção de responsabilidade
			</h2>

			<p>
				O conteúdo publicado neste site foi cuidadosamente pesquisado. No entanto, a Fenilux não pode garantir a atualidade, correção, integralidade ou qualidade das informações prestadas. A Fenilux não se responsabiliza por quaisquer danos indiretos, mediatos, incidentais ou consequenciais decorrentes ou relacionados com o uso deste site.
			</p>

			<p>
				Todas as ofertas não são vinculativas. O autor reserva-se explicitamente o direito de alterar, modificar ou eliminar algumas das páginas ou toda a oferta sem aviso prévio ou cessar a publicação temporária ou permanentemente. As obrigações contratuais acordadas separadamente permanecem inalteradas.
			</p>

			<h2>
				Referências e (hiper)links
			</h2>

			<p>
				O conteúdo dos sites vinculados ou outros recursos on-line referenciados não refletem necessariamente as opiniões e intenções da Fenilux. Não assumimos responsabilidade e não assumimos responsabilidade por tal conteúdo. A Fenilux garante que, tanto quanto é do seu conhecimento, no momento da publicação de um link, os respetivos sites e recursos on-line estavam isentos de conteúdos ilegais e dissocia-se explicitamente de todos os conteúdos, especialmente daqueles que tenham sido alterados após o momento da criação do link.
			</p>

			<h2>
				Direitos autorais, marcas registradas e designs
			</h2>

			<p>
				A Fenilux é proprietária exclusiva de todos os direitos pessoais, direitos de exploração, direitos de marca e direitos no sentido de proteção do design dos conteúdos deste site e do design ótico e técnico incluindo o código fonte.
			</p>

			<p>
				Todas as criações, marcas registradas e patentes de propriedade de terceiros foram legalmente licenciadas. Se necessário, os proprietários e detentores dos direitos autorais serão nomeados em conformidade com essas licenças.
			</p>

			<h2>
				Cláusula de divisibilidade
			</h2>

			<p>
				Se partes das condições, avisos legais ou isenções de responsabilidade forem total ou parcialmente nulas, a validade das restantes cláusulas permanece inalterada.
			</p>

			<h2>
				Lei aplicável e resolução de disputas
			</h2>

			<p>
				Embora o nosso site possa ser acessado de vários lugares e países ao redor do mundo, isso não deve ser interpretado como consentimento para cumprir essa jurisdição local. Qualquer relacionamento entre você e nós decorrente destes termos de uso será regido pelas leis do Brasil.
			</p>

			<p>
				Todas as disputas, decorrentes destes termos de uso ou a eles relacionadas, inclusive aquelas decorrentes ou relativas à sua interpretação, nulidade, execução ou extinção, serão encaminhadas para resolução aos tribunais competentes no Brasil.
			</p>

		</div>

	</article>

{% endblock %}