{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-03-01" class="before">
			Версия 1.2, от 1 марта 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body">

			<h2>
				Юридическое Лицо
			</h2>

			<p>
				Fenilux Soluções Financeiras Ltda ("Fenilux") - это общество с ограниченной ответственностью, зарегистрированное в Бразилии под CNPJ No. 44.626.880/0001-81, с зарегистрированным офисом по адресу: Rua Manoel da Nóbrega, 1280, CEP 04001-902, Параисо, Сан-Паулу/СП.
			</p>

			<p>
				Как регулируемое юридическое лицо, Fenilux обязано соблюдать все применимые законы, правила, уведомления и руководящие указания, выданные соответствующим государственным и регулирующим органом.
			</p>

			<h2>
				Отказ от ответственности
			</h2>

			<p>
				Содержание, опубликованное на этом веб-сайте, было тщательно исследовано. Однако Fenilux не может гарантировать актуальность, правильность, полноту или качество предоставленной информации. Fenilux не несет ответственности за косвенные, непосредственные, случайные или последующие убытки, возникшие в связи с использованием этого веб-сайта.
			</p>

			<p>
				Все предложения носит незаставляющий характер. Автор явно оставляет за собой право изменять, изменять или удалять некоторые страницы или всё предложение без предварительного уведомления или временно или постоянно прекращать публикацию. Отдельно согласованные договорные обязательства остаются в силе.
			</p>

			<h2>
				Ссылки и гиперссылки
			</h2>

			<p>
				Содержание веб-сайтов, на которые размещены ссылки, или других онлайн-ресурсов не всегда отражает мнения и намерения Fenilux. Мы не несем ответственности и не принимаем на себя ответственность за такое содержание. Fenilux заверяет, что на момент размещения ссылки на соответствующие веб-сайты и онлайн-ресурсы он был свободен от незаконного содержания и явно отказывается от всего содержания, особенно тех, которые изменились после момента установления ссылки.
			</p>

			<h2>
				Авторские права, товарные знаки и дизайны
			</h2>

			<p>
				Fenilux является исключительным владельцем всех личных прав, прав на использование, прав на товарные знаки и прав в смысле защиты дизайна содержимого этого веб-сайта и его внешнего и технического оформления, включая исходный код.
			</p>

			<p>
				Все создания, товарные знаки и патенты, принадлежащие третьим лицам, были законно лицензированы. При необходимости владельцы и правообладатели авторских прав указываются в соответствии с этими лицензиями.
			</p>

			<h2>
				Оговорка о разделении
			</h2>

			<p>
				Если части условий, юридических уведомлений или отказов от ответственности являются полностью или частично правовым недействительными, действительность остальных пунктов остается непоколебимой.
			</p>

			<h2>
				Применимое право и разрешение споров
			</h2>

			<p>
				Хотя наш веб-сайт может быть доступен из многих мест и стран по всему миру, это не должно толковаться как согласие подчиняться местной юрисдикции. Любые отношения между вами и нами, возникшие из этих условий использования, будут регулироваться законами Бразилии.
			</p>

			<p>
				Все споры, возникающие из этих условий использования или связанные с ними, включая те, которые возникают из или касаются их толкования, недействительности, исполнения или прекращения, будут передаваться на разрешение компетентным судам в Бразилии.
			</p>

		</div>

	</article>

{% endblock %}