	<header class="header">

		<div class="center">

			<div class="header__flex">

				<div class="header__logo">

					<a href="/">

						<img src="/img/fenilux.svg" width="305" height="32" loading="lazy" alt="">

					</a>

				</div>

				<a href="/" class="header__btn btn btn--brown">
					<span class="btn__inner">
						Login
					</span>
				</a>

				<a href="/" class="header__btn btn btn--dark">
					<span class="btn__inner">
						Contact sales
					</span>
				</a>

{% include "template/menu.html" %}

{% include "template/lang.html" %}

			</div>

		</div>

	</header>