				<div class="lang">

					<button class="lang__btn btn btn--dark" type="button" aria-label="choose a language">

						<svg width="24" height="24" viewBox="0 0 24 24">
							<path fill="#E5E5E5" d="M2.05 13h5.48a17.9 17.9 0 0 0 2.92 8.88A10 10 0 0 1 2.05 13Zm0-2a10 10 0 0 1 8.4-8.88A17.9 17.9 0 0 0 7.53 11H2.05Zm19.9 0h-5.48a17.9 17.9 0 0 0-2.92-8.88 10 10 0 0 1 8.4 8.88Zm0 2a10 10 0 0 1-8.4 8.88A17.9 17.9 0 0 0 16.47 13h5.48ZM9.53 13h4.94A15.9 15.9 0 0 1 12 20.6 15.9 15.9 0 0 1 9.53 13Zm0-2A15.9 15.9 0 0 1 12 3.4a15.9 15.9 0 0 1 2.47 7.6H9.53Z"/>
						</svg>

					</button>

					<ul class="lang__list">

						<li>

							<a href="/">
								<img src="/img/lang/eng.png" srcset="/img/lang/eng@2x.png 2x" width="24" height="24" loading="lazy" alt="">
								English
							</a>

						</li>

						<li>

							<a href="/">
								<img src="/img/lang/por.png" srcset="/img/lang/por@2x.png 2x" width="24" height="24" loading="lazy" alt="">
								Português
							</a>

						</li>

						<li>

							<a href="/">
								<img src="/img/lang/rus.png" srcset="/img/lang/rus@2x.png 2x" width="24" height="24" loading="lazy" alt="">
								Русский
							</a>

						</li>

						<li>

							<a href="/">
								<img src="/img/lang/ger.png" srcset="/img/lang/ger@2x.png 2x" width="24" height="24" loading="lazy" alt="">
								Deutsch
							</a>

						</li>

					</ul>

				</div>