{% set title = translate.TITLE_FORGOT_PASSWORD[lang] %}

{% set description = translate.DESCRIPTION_FORGOT_PASSWORD[lang] %}

{% set folder = "forgot-password" %}

{% set headerBtnOff = true %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<div class="form-page">

			<div class="form-page__box">

				<div class="form-page__form">

					<p class="form-page__before before">
						{{ translate.FORM_FORGOT_PASSWORD_BEFORE[lang] }}
					</p>

					<h1 class="form-page__title h3">
						{{ title }}
					</h1>

					<form action="{{ action }}" class="form">

						<div class="form__row">

							<label class="form__inputbox">

								<span class="form__label">
									{{ translate.EMAIL[lang] }}
								</span>

								<span class="input-wrap">

									<input class="input" name="email" type="email" required="required">

								</span>

							</label>

						</div>

						<button class="btn btn--brown form__submit">
							<span class="btn__inner">
								{{ translate.SUBMIT[lang] }}
							</span>
						</button>

						<div class="form__validation-message"></div>

						<p class="form__after">
							{{ translate.REMEMBERED_THE_PASSWORD[lang] }}? <a href="{{ subdomain }}/sign-in/">{{ translate.BACK_TO_LOGIN[lang] }}</a>
						</p>

					</form>

				</div>

				<hr class="form-page__sep">

				<div class="form-page__img">

					<div class="form-page__back">

						<picture>

							<source srcset="/img/first-screen/front.webp 1x, /img/first-screen/front@2x.webp 2x" type="image/webp">
							<source srcset="/img/first-screen/front.png 1x, /img/first-screen/front@2x.png 2x">

							<img src="/img/first-screen/front.png" alt="" loading="lazy" width="507" height="500">

						</picture>

					</div>

					<div class="form-page__front">

						<picture>

							<source srcset="/img/form-page/340x405.webp 1x, /img/form-page/608x810.webp 2x" type="image/webp">
							<source srcset="/img/form-page/340x405.png 1x, /img/form-page/608x810.png 2x">

							<img src="/img/form-page/340x405.png" alt="" loading="lazy" width="340" height="405">

						</picture>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}