{% set title = "Política de Cookies y Privacidad" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-03-11" class="before">
			Versión 1.4, 11 de Marzo de 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body">

			<h2>
				Política de Cookies para Fenilux
			</h2>

			<p>
				En Fenilux, una de nuestras principales prioridades es la privacidad de nuestros visitantes. Este documento de Política de Cookies contiene los tipos de información que son recopilados y registrados por Fenilux, y cómo son utilizados.
			</p>

			<h2>
				¿Qué son las Cookies?
			</h2>

			<p>
				Las cookies son pequeños archivos de texto que son utilizados por los sitios web para hacer más eficiente la experiencia del usuario. La ley establece que podemos almacenar cookies en su dispositivo si son estrictamente necesarias para el funcionamiento de este sitio. Para todos los demás tipos de cookies, necesitamos su permiso. Este sitio utiliza diferentes tipos de cookies. Algunas cookies son colocadas por servicios de terceros que aparecen en nuestras páginas.
			</p>

			<h2>
				¿Cómo usamos las Cookies?
			</h2>

			<p>
				Utilizamos las cookies para una variedad de razones que serán detalladas a continuación. Lamentablemente, en la mayoría de los casos, no existen opciones estándar de la industria para desactivar las Cookies sin deshabilitar por completo la funcionalidad y características que aportan a este sitio. Se recomienda dejar activadas todas las Cookies si no estás seguro de si las necesitás o no, especialmente si se utilizan para brindarte un servicio que utilizas.
			</p>

			<h2>
				Las Cookies que Configuramos
			</h2>

			<ul>

				<li>
					Cookies de Preferencias del Sitio: Para ofrecerte una gran experiencia en este sitio, te brindamos la opción de establecer tus preferencias sobre cómo funciona cuando lo usas. Para recordar tus preferencias, necesitamos configurar cookies para que esta información esté disponible cada vez que interactúes con una página que se vea afectada por tus preferencias.
				</li>

				<li>
					Cookies de Terceros: En algunos casos especiales, también utilizamos Cookies proporcionadas por terceros de confianza. La siguiente sección detalla qué Cookies de terceros podrías encontrar a través de este sitio.
				</li>

				<li>
					Google Analytics: Esta Cookie nos permite comprender la interacción de los visitantes con nuestro sitio web, y nos ayuda a entender y mejorar la experiencia del usuario. Google Analytics es la herramienta de análisis de Google que ayuda a nuestro sitio web a comprender cómo interactúan los visitantes con sus propiedades. Puede utilizar un conjunto de Cookies para recopilar información y reportar estadísticas de uso del sitio web sin identificar personalmente a los visitantes individuales ante Google.
				</li>

				<li>
					Google Tag Manager: Este es un sistema que utilizamos para gestionar etiquetas o scripts en nuestro sitio web. Google Tag Manager en sí mismo no utiliza cookies ni recopila información personal, pero activa otras etiquetas que pueden recopilar datos.
				</li>

			</ul>

			<h2>
				Tus opciones en relación a las Cookies
			</h2>

			<p>
				Si querés eliminar las cookies o indicarle a tu navegador web que las elimine o rechace, por favor visitá las páginas de ayuda de tu navegador web.
			</p>

			<p>
				Sin embargo, tené en cuenta que si eliminás las cookies o te negás a aceptarlas, es posible que no puedas utilizar todas las funciones que ofrecemos, que no puedas almacenar tus preferencias y que algunas de nuestras páginas puedan no mostrarse correctamente.
			</p>

			<p>
				Para el navegador web Chrome, por favor visitá esta página de Google: <a href="https://support.google.com/accounts/answer/32050" target="_blank" rel="nofollow noopener">https://support.google.com/accounts/answer/32050</a>
			</p>

			<p>
				Para el navegador web Edge, por favor visitá esta página de  Microsoft: <a href="https://www.microsoft.com/en-us/edge/learning-center/how-to-manage-and-clear-your-cache-and-cookies?form=MA13I2" target="_blank" rel="nofollow noopener">https://www.microsoft.com/en-us/edge/learning-center/how-to-manage-and-clear-your-cache-and-cookies?form=MA13I2</a>
			</p>

			<p>
				Para el navegador web Firefox, por favor visitá esta página de Mozilla: <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" target="_blank" rel="nofollow noopener">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a>
			</p>

			<p>
				Para el navegador web Safari, por favor visitá esta página de Apple: <a href="https://support.apple.com/en-ie/guide/deployment/depf7d5714d4/web" target="_blank" rel="nofollow noopener">https://support.apple.com/en-ie/guide/deployment/depf7d5714d4/web</a>
			</p>

			<p>
				Para cualquier otro navegador web, por favor visitá las páginas web oficiales de tu navegador.
			</p>

			<h2>
				Política de Privacidad de Fenilux
			</h2>

			<p>
				En Fenilux, nos tomamos tu privacidad muy en serio y tratamos todos los datos personales que nos proporcionas con gran cuidado. Nunca vamos a vender ni intercambiar tus detalles con ninguna otra organización, y vamos a mantener tus datos privados y seguros. Esta Política de Privacidad explica cómo almacenamos y utilizamos los datos personales que nos proporcionas. Te informaremos de cualquier actualización a nuestra Política de Privacidad que te afecte.
			</p>

			<h2>
				¿Qué datos personales procesamos?
			</h2>

			<p>
				Vamos a recopilar la siguiente información:
			</p>

			<ul>

				<li>
					Tu nombre, dirección y fecha de nacimiento.
				</li>

				<li>
					Tu dirección de correo electrónico, número de teléfono y detalles del dispositivo que usas (por ejemplo, tu teléfono, computadora o tableta).
				</li>

				<li>
					Tu información de registro.
				</li>

				<li>
					Detalles de tu cuenta bancaria, incluyendo el número de cuenta, el código de clasificación y el IBAN.
				</li>

				<li>
					Tu país de residencia y número de CPF (Catastro de Personas Físicas), o número de identificación equivalente.
				</li>

			</ul>

			<h2>
				¿Cuál es el fundamento legal para el uso de tus datos personales?
			</h2>

			<p>
				Debemos tener un fundamento legal (un motivo legal válido) para utilizar tus datos personales. Nuestra base legal será una de las siguientes:
			</p>

			<ul>

				<li>
					Cumplimiento de nuestros contratos y acuerdos contigo: necesitamos ciertos datos personales para proporcionar nuestros servicios y no podemos proporcionarlos sin estos datos personales.
				</li>

				<li>
					Prevención de fraudes y seguridad en la identificación y autenticación en sistemas electrónicos: en ciertas ocasiones podemos recopilar tus datos personales, incluidos datos personales sensibles, para prevenir fraudes y garantizar la seguridad.
				</li>

			</ul>

			<h2>
				¿Cómo utilizamos tus datos?
			</h2>

			<p>
				Los datos personales que recopilamos y procesamos pueden utilizarse para los siguientes propósitos:
			</p>

			<ul>

				<li>
					Verificar tu identidad: Cada vez que te registres en Fenilux, utilizaremos tus datos personales para verificar tu identidad o la de los titulares de cuentas conjuntas (como parte de nuestro proceso de KYC).
				</li>

				<li>
					Mantener en funcionamiento nuestros servicios: usamos tus datos personales para gestionar nuestro sitio web (incluida la resolución de problemas, análisis de datos, pruebas, investigación, fines estadísticos y de encuestas), y para asegurarnos de que el contenido se presente de la manera más efectiva para vos y tu dispositivo.
				</li>

				<li>
					Autenticarte como usuario autorizado de nuestros servicios cuando sea necesario (por ejemplo, si contactás a nuestro equipo de atención al cliente o nuestros equipos de redes sociales).
				</li>

				<li>
					Permitirte participar en características interactivas de nuestros servicios.
				</li>

				<li>
					Cumplir con nuestras obligaciones contractuales y legales relacionadas con cualquier producto o servicio que utilices.
				</li>

				<li>
					Informarte sobre cambios en nuestros servicios.
				</li>

				<li>
					Ayudar a mantener seguro y protegido nuestro sitio web.
				</li>

				<li>
					Protección contra el fraude.
				</li>

				<li>
					Marketing y proporcionar productos y servicios que puedan interesarte.
				</li>

			</ul>

			<h2>
				¿Cuáles son tus derechos?
			</h2>

			<p>
				Dispones de varios derechos en relación con tus datos personales. Estos derechos comprenden el acceso a tus datos, la corrección de cualquier error, la solicitud de eliminación de datos, la restricción del procesamiento de tus datos y la objeción al procesamiento de los mismos. En caso de cambios en tus datos personales, te agradecemos que nos ayudes a mantener tu información actualizada mediante tu notificación. Asimismo, podés solicitar acceso a cualquier información que tengamos sobre vos en cualquier momento, contactando a Fenilux.
			</p>

			<h2>
				Cambios en esta política
			</h2>

			<p>
				Podemos cambiar o actualizar esta política de vez en cuando, por lo que te recomendamos que consultes esta página periódicamente. Te informaremos de cualquier actualización a nuestra Política de Privacidad que te afecte.
			</p>

			<h2>
				Más información
			</h2>

			<p>
				Para obtener más información, podés contactarnos a través del correo electrónico: <a href="mailto:info@Fenilux.io">info@Fenilux.io</a>
			</p>

			<p>
				Al utilizar nuestro sitio web, consentís expresamente nuestra Política de Cookies y Privacidad y aceptás sus términos.
			</p>

		</div>

	</article>

{% endblock %}