{% set title = "Política de privacidad" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-03-11" class="before">
			Version 1.4, 11 March 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body">

			<h2>
				Политика в отношении файлов cookie для Fenilux
			</h2>

			<p>
				В Fenilux одним из наших основных приоритетов является конфиденциальность наших посетителей. В этом документе о политике в отношении файлов cookie содержится информация о типах собираемой и записываемой Fenilux информации и о том, как мы ее используем.
			</p>

			<h2>
				Что такое файлы cookie
			</h2>

			<p>
				Файлы cookie - это небольшие текстовые файлы, которые используются веб-сайтами для повышения эффективности пользовательского опыта. Закон утверждает, что мы можем хранить файлы cookie на вашем устройстве, если они строго необходимы для работы этого сайта. Для всех остальных типов файлов cookie нам нужно ваше разрешение. На этом сайте используются различные типы файлов cookie. Некоторые файлы cookie устанавливаются сторонними службами, которые появляются на наших страницах.
			</p>

			<h2>
				Как мы используем файлы cookie
			</h2>

			<p>
				Мы используем файлы cookie по различным причинам, подробно описанным ниже. К сожалению, в большинстве случаев нет стандартных параметров отключения файлов cookie без полного отключения функционала и возможностей, которые они добавляют к этому сайту. Рекомендуется оставить все файлы cookie включенными, если вы не уверены, нужны ли они вам или нет, на случай, если они используются для предоставления услуги, которую вы используете.
			</p>

			<h2>
				Устанавливаемые нами файлы cookie
			</h2>

			<ul>

				<li>
					Файлы cookie настроек сайта: для обеспечения великолепного опыта на этом сайте мы предоставляем функциональность для установки ваших предпочтений по работе этого сайта. Для запоминания ваших предпочтений нам нужно устанавливать файлы cookie, чтобы эта информация могла быть вызвана всякий раз, когда вы взаимодействуете с страницей, которую затрагивают ваши предпочтения.
				</li>

				<li>
					Файлы cookie сторонних служб: в некоторых особых случаях мы также используем файлы cookie, предоставляемые доверенными сторонними службами. В следующем разделе подробно описаны файлы cookie сторонних служб, с которыми вы можете столкнуться через этот сайт.
				</li>

				<li>
					Google Analytics: этот файл cookie позволяет нам понять взаимодействие посетителей с нашим веб-сайтом и помогает нам понять и улучшить пользовательский опыт. Google Analytics - это аналитический инструмент Google, который помогает нашему веб-сайту понимать, как посетители взаимодействуют с его свойствами. Для сбора информации и составления статистики использования веб-сайта Google может использовать набор файлов cookie без идентификации отдельных посетителей.
				</li>

				<li>
					Google Tag Manager: это система, которую мы используем для управления метками или скриптами на нашем веб-сайте. Сам Google Tag Manager не использует файлы cookie и не собирает персональную информацию, но активирует другие метки, которые могут собирать данные.
				</li>

			</ul>

			<h2>
				Ваши выборы в отношении файлов cookie
			</h2>

			<p>
				Если вы хотите удалить файлы cookie или научить свой веб-браузер удалять или отказываться от файлов cookie, пожалуйста, посетите страницы справки вашего веб-браузера.
			</p>

			<p>
				Однако, пожалуйста, обратите внимание, что если вы удалите файлы cookie или откажетесь их принять, вы можете не иметь возможности использовать все функции, которые мы предлагаем, вы можете не иметь возможности сохранить свои предпочтения, и некоторые из наших страниц могут отображаться неправильно.
			</p>

			<p>
				Для веб-браузера Chrome, пожалуйста, посетите эту страницу от Google: <a href="https://support.google.com/accounts/answer/32050" target="_blank" rel="nofollow noopener">https://support.google.com/accounts/answer/32050</a>
			</p>

			<p>
				Для веб-браузера Edge, пожалуйста, посетите эту страницу от Microsoft: <a href="https://www.microsoft.com/en-us/edge/learning-center/how-to-manage-and-clear-your-cache-and-cookies?form=MA13I2" target="_blank" rel="nofollow noopener">https://www.microsoft.com/en-us/edge/learning-center/how-to-manage-and-clear-your-cache-and-cookies?form=MA13I2</a>
			</p>

			<p>
				Для веб-браузера Firefox, пожалуйста, посетите эту страницу от Mozilla: <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" target="_blank" rel="nofollow noopener">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a>
			</p>

			<p>
				Для веб-браузера Safari, пожалуйста, посетите эту страницу от Apple: <a href="https://support.apple.com/en-ie/guide/deployment/depf7d5714d4/web" target="_blank" rel="nofollow noopener">https://support.apple.com/en-ie/guide/deployment/depf7d5714d4/web</a>
			</p>

			<p>
				Для любого другого веб-браузера, пожалуйста, посетите официальные веб-страницы вашего веб-браузера.
			</p>

			<h2>
				Политика конфиденциальности для Fenilux
			</h2>

			<p>
				Мы серьезно относимся к вашей конфиденциальности и тщательно обращаемся с любыми предоставленными вами личными данными. Мы никогда не будем продавать или обменивать ваши данные с другими организациями и будем держать ваши данные в тайне и безопасности. Настоящая Политика конфиденциальности объясняет, как мы храним и используем предоставленные вами личные данные. Мы будем информировать вас обо всех обновлениях нашей Политики конфиденциальности, которые могут вас касаться.
			</p>

			<h2>
				Какие личные данные мы обрабатываем
			</h2>

			<p>
				Мы будем собирать следующую информацию:
			</p>

			<ul>

				<li>
					ваше имя, адрес и дата рождения;
				</li>

				<li>
					ваш адрес электронной почты, номер телефона и сведения о устройстве, которое вы используете (например, ваш телефон, компьютер или планшет);
				</li>

				<li>
					ваша регистрационная информация;
				</li>

				<li>
					сведения о вашем банковском счете, включая номер счета, банковский код сортировки и IBAN;
				</li>

				<li>
					ваша страна проживания и номер CPF (Cadastro de Pessoas Físicas) или другого документа удостоверяющего личность.
				</li>

			</ul>

			<h2>
				Какова ваша правовая основа для использования моих личных данных
			</h2>

			<p>
				Для использования ваших личных данных мы должны иметь правовую основу (действительное юридическое основание). Наша правовая основа будет одной из следующих:
			</p>

			<ul>

				<li>
					Соблюдение наших договоров и соглашений с вами: нам необходимы определенные личные данные для предоставления наших услуг, и мы не можем предоставить их без этих личных данных.
				</li>

				<li>
					Предотвращение мошенничества и обеспечение безопасности в идентификации и аутентификации в электронных системах: в некоторых случаях мы можем собирать ваши личные данные, включая чувствительные личные данные, для предотвращения мошенничества и обеспечения безопасности.
				</li>

			</ul>

			<h2>
				Как мы используем ваши данные
			</h2>

			<p>
				Личные данные, собранные и обработанные нами, могут использоваться для следующих целей:
			</p>

			<ul>

				<li>
					Проверка вашей личности: Когда вы регистрируетесь в Fenilux, мы используем ваши личные данные для проверки вашей личности или личности совладельцев счета (в рамках нашего процесса KYC);
				</li>

				<li>
					Обеспечение нормальной работы наших услуг: мы используем ваши личные данные для управления нашим веб-сайтом (включая устранение неполадок, анализ данных, тестирование, исследования, статистические и опросные цели) и для того, чтобы убедиться, что контент представлен в наиболее эффективном виде для вас и вашего устройства;
				</li>

				<li>
					Аутентификация вас как авторизованного пользователя наших услуг, когда это необходимо (например, если вы обращаетесь в нашу службу поддержки или команды в социальных сетях);
				</li>

				<li>
					Позволяют вам участвовать в интерактивных функциях наших услуг;
				</li>

				<li>
					Соблюдение наших договорных и законных обязательств, касающихся любых продуктов или услуг, которые вы используете
				</li>

				<li>
					Сообщаем вам о изменениях в наших услугах;
				</li>

				<li>
					Помощь в обеспечении безопасности и надежности нашего веб-сайта;
				</li>

				<li>
					Защита от мошенничества;
				</li>

				<li>
					Маркетинг и предоставление продуктов и услуг, которые могут вас заинтересовать.
				</li>

			</ul>

			<h2>
				Каковы ваши права
			</h2>

			<p>
				У вас есть несколько прав в отношении ваших личных данных. Они включают в себя доступ к вашим данным, исправление любых ошибок, стирание ваших данных, ограничение обработки ваших данных и возражение против обработки ваших данных. Если ваши личные данные изменятся, помогите нам сохранить вашу информацию актуальной, уведомив нас. Вы также можете запросить доступ к любой информации, которую мы храним о вас в любое время, написав в Fenilux.
			</p>

			<h2>
				Изменения в этой политике
			</h2>

			<p>
				Мы можем изменить или обновить эту политику время от времени, поэтому пожалуйста, периодически проверяйте эту страницу. Мы будем информировать вас обо всех обновлениях нашей Политики конфиденциальности, которые могут вас касаться.
			</p>

			<h2>
				Дополнительная информация
			</h2>

			<p>
				Для получения дополнительной информации вы можете связаться с нами по электронной почте: <a href="mailto:info@Fenilux.io">info@Fenilux.io</a>
			</p>

			<p>
				Используя наш веб-сайт, вы даете свое согласие на нашу Политику файлов cookie и конфиденциальности и соглашаетесь с ее условиями.
			</p>

		</div>

	</article>

{% endblock %}