{% set title = "Politique en matière de cookies et de confidentialité" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-03-11" class="before">
			Version 1.4, 11 March 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body">

			<h2>
				Politique en matière de cookies pour Fenilux
			</h2>

			<p>
				Chez Fenilux, l'une de nos principales priorités est la confidentialité de nos visiteurs. Ce document de Politique en matière de cookies contient les types d'informations collectées et enregistrées par Fenilux et leur utilisation.
			</p>

			<h2>
				Qu'est-ce que les cookies?
			</h2>

			<p>
				Les cookies sont de petits fichiers texte utilisés par les sites web pour rendre l'expérience d'un utilisateur plus efficace. La loi stipule que nous pouvons stocker des cookies sur votre appareil s'ils sont strictement nécessaires au fonctionnement de ce site. Pour tous les autres types de cookies, nous avons besoin de votre permission. Ce site utilise différents types de cookies. Certains cookies sont placés par des services tiers qui apparaissent sur nos pages.
			</p>

			<h2>
				Comment nous utilisons les cookies
			</h2>

			<p>
				Nous utilisons des cookies pour diverses raisons détaillées ci-dessous. Malheureusement, dans la plupart des cas, il n'existe pas d'options standard de l'industrie pour désactiver les cookies sans désactiver complètement la fonctionnalité et les fonctionnalités qu'ils ajoutent à ce site. Il est recommandé de laisser tous les cookies activés si vous n'êtes pas sûr que vous en avez besoin ou non, au cas où ils seraient utilisés pour fournir un service que vous utilisez.
			</p>

			<h2>
				Les cookies que nous utilisons
			</h2>

			<ul>

				<li>
					Cookies de préférences du site: pour vous offrir une excellente expérience sur ce site, nous proposons la fonctionnalité permettant de définir vos préférences pour le fonctionnement de ce site lorsque vous l'utilisez. Afin de mémoriser vos préférences, nous devons définir des cookies afin que ces informations puissent être appelées chaque fois que vous interagissez avec une page affectée par vos préférences.
				</li>

				<li>
					Cookies tiers: dans certains cas spéciaux, nous utilisons également des cookies fournis par des tiers de confiance. La section suivante détaille les cookies tiers que vous pourriez rencontrer sur ce site.
				</li>

				<li>
					Google Analytics: ce cookie nous permet de comprendre l'interaction des visiteurs avec notre site web, et nous aide à comprendre et à améliorer l'expérience utilisateur. Google Analytics est l'outil d'analyse de Google qui aide notre site web à comprendre comment les visiteurs interagissent avec leurs propriétés. Il peut utiliser un ensemble de cookies pour collecter des informations et rapporter des statistiques d'utilisation du site web sans identifier personnellement les visiteurs individuels à Google.
				</li>

				<li>
					Google Tag Manager: c'est un système que nous utilisons pour gérer les balises ou scripts sur notre site web. Google Tag Manager lui-même n'utilise pas de cookies et ne collecte pas d'informations personnelles, mais il déclenche d'autres balises qui peuvent collecter des données.
				</li>

			</ul>

			<h2>
				Vos choix concernant les cookies
			</h2>

			<p>
				Si vous souhaitez supprimer les cookies ou demander à votre navigateur web de supprimer ou de refuser les cookies, veuillez consulter les pages d'aide de votre navigateur web.
			</p>

			<p>
				Veuillez noter, cependant, que si vous supprimez les cookies ou refusez de les accepter, vous risquez de ne pas pouvoir utiliser toutes les fonctionnalités que nous proposons, vous risquez de ne pas pouvoir enregistrer vos préférences, et certaines de nos pages pourraient ne pas s'afficher correctement.
			</p>

			<p>
				Pour le navigateur web Chrome, veuillez visiter cette page de Google: <a href="https://support.google.com/accounts/answer/32050" target="_blank" rel="nofollow noopener">https://support.google.com/accounts/answer/32050</a>
			</p>

			<p>
				Pour le navigateur web Edge, veuillez visiter cette page de Microsoft: <a href="https://www.microsoft.com/en-us/edge/learning-center/how-to-manage-and-clear-your-cache-and-cookies?form=MA13I2" target="_blank" rel="nofollow noopener">https://www.microsoft.com/en-us/edge/learning-center/how-to-manage-and-clear-your-cache-and-cookies?form=MA13I2</a>
			</p>

			<p>
				Pour le navigateur web Firefox, veuillez visiter cette page de Mozilla: <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" target="_blank" rel="nofollow noopener">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a>
			</p>

			<p>
				Pour le navigateur web Safari, veuillez visiter cette page d'Apple: <a href="https://support.apple.com/en-ie/guide/deployment/depf7d5714d4/web" target="_blank" rel="nofollow noopener">https://support.apple.com/en-ie/guide/deployment/depf7d5714d4/web</a>
			</p>

			<p>
				Pour tout autre navigateur web, veuillez visiter les pages web officielles de votre navigateur web.
			</p>

			<h2>
				Politique de confidentialité pour Fenilux
			</h2>

			<p>
				Nous prenons votre vie privée au sérieux et traitons toutes les données personnelles que vous nous fournissez avec beaucoup de soin. Nous ne vendrons ni n'échangerons jamais vos coordonnées avec aucune autre organisation, et nous garderons vos coordonnées privées et sécurisées. Cette Politique de confidentialité explique comment nous stockons et utilisons les données personnelles que vous nous fournissez. Nous vous informerons de toute mise à jour de notre Politique de confidentialité qui vous concernera.
			</p>

			<h2>
				Quelles données personnelles traitons-nous?
			</h2>

			<p>
				Nous collecterons les informations suivantes:
			</p>

			<ul>

				<li>
					votre nom, adresse et date de naissance;
				</li>

				<li>
					votre adresse e-mail, numéro de téléphone et détails de l'appareil que vous utilisez (par exemple, votre téléphone, ordinateur ou tablette);
				</li>

				<li>
					vos informations d'inscription;
				</li>

				<li>
					les détails de votre compte bancaire, y compris le numéro de compte, le code de tri et l'IBAN;
				</li>

				<li>
					votre pays de résidence et votre numéro de CPF (Cadastro de Pessoas Físicas).
				</li>

			</ul>

			<h2>
				Quelle est votre base légale pour utiliser mes données personnelles?
			</h2>

			<p>
				Nous devons avoir une base légale (une raison juridique valable) pour utiliser vos données personnelles. Notre base légale sera l'une des suivantes:
			</p>

			<ul>

				<li>
					Respect de nos contrats et accords avec vous : nous avons besoin de certaines données personnelles pour fournir nos services et nous ne pouvons pas les fournir sans ces données personnelles.
				</li>

				<li>
					Prévention de la fraude et de la sécurité dans l'identification et l'authentification dans les systèmes électroniques : dans certaines occasions, nous pouvons collecter vos données personnelles, y compris des données personnelles sensibles, pour prévenir la fraude et assurer la sécurité.
				</li>

			</ul>

			<h2>
				Comment utilisons-nous vos données
			</h2>

			<p>
				Les données personnelles collectées et traitées par nous peuvent être utilisées à des fins suivantes:
			</p>

			<ul>

				<li>
					Vérification de votre identité : Chaque fois que vous vous inscrivez avec Fenilux, nous utiliserons vos données personnelles pour vérifier votre identité ou celle des co-titulaires de compte (dans le cadre de notre processus KYC);
				</li>

				<li>
					Pour maintenir le bon fonctionnement de nos services : nous utilisons vos données personnelles pour gérer notre site web (y compris le dépannage, l'analyse des données, les tests, la recherche, les fins statistiques et d'enquête), et pour nous assurer que le contenu est présenté de la manière la plus efficace pour vous et votre appareil;
				</li>

				<li>
					Vous authentifier en tant qu'utilisateur autorisé de nos services lorsque cela est nécessaire (par exemple, si vous contactez notre service clientèle ou nos équipes de médias sociaux);
				</li>

				<li>
					Vous permettre de participer à des fonctionnalités interactives de nos services;
				</li>

				<li>
					Respecter nos obligations contractuelles et légales liées à tous les produits ou services que vous utilisez;
				</li>

				<li>
					Vous informer des changements apportés à nos services;
				</li>

				<li>
					Aider à maintenir la sécurité et la sûreté de notre site web;
				</li>

				<li>
					Protéger contre la fraude;
				</li>

				<li>
					Marketing et fourniture de produits et services susceptibles de vous intéresser.
				</li>

			</ul>

			<h2>
				Quels sont vos droits
			</h2>

			<p>
				Vous avez plusieurs droits concernant vos données personnelles. Cela inclut l'accès à vos données, la correction de toute erreur, la suppression de vos données, la limitation du traitement de vos données et l'opposition au traitement de vos données. Si vos coordonnées personnelles changent, veuillez nous aider à maintenir vos informations à jour en nous en informant. Vous pouvez également demander l'accès à toutes les informations que nous détenons sur vous à tout moment en écrivant à Fenilux.
			</p>

			<h2>
				Changements à cette politique
			</h2>

			<p>
				Nous pouvons modifier ou mettre à jour cette politique de temps à autre, veuillez donc consulter cette page périodiquement. Nous vous informerons de toute mise à jour de notre Politique de confidentialité qui vous concernera.
			</p>

			<h2>
				Plus d'informations
			</h2>

			<p>
				Pour plus d'informations, vous pouvez nous contacter par e-mail: <a href="mailto:info@Fenilux.io">info@Fenilux.io</a>
			</p>

			<p>
				En utilisant notre site web, vous consentez par la présente à notre Politique en matière de cookies et de confidentialité et acceptez ses termes.
			</p>

		</div>

	</article>

{% endblock %}