{% set title = "Política de Cookies e Privacidade" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-03-11" class="before">
			Versão 1.4, 11 de março de 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body">

			<h2>
				Política de Cookies da Fenilux
			</h2>

			<p>
				Na Fenilux, uma das nossas principais prioridades é a privacidade dos nossos visitantes. Este documento de Política de Cookies contém os tipos de informações que são coletadas e registadas pela Fenilux e como a utilizamos.
			</p>

			<h2>
				O que são cookies
			</h2>

			<p>
				Cookies são pequenos arquivos de texto usados ​​por sites para tornar a experiência do usuário mais eficiente. A lei estabelece que podemos armazenar cookies no seu dispositivo se forem estritamente necessários para o funcionamento deste site. Para todos os outros tipos de cookies, precisamos da sua permissão. Este site utiliza diferentes tipos de cookies. Alguns cookies são colocados por serviços de terceiros que aparecem nas nossas páginas.
			</p>

			<h2>
				Como usamos os cookies
			</h2>

			<p>
				Usamos cookies por vários motivos detalhados abaixo. Infelizmente, na maioria dos casos, não existem opções padrão da indústria para desativar cookies sem desativar completamente a funcionalidade e os recursos que eles adicionam a este site. Recomenda-se que você deixe todos os cookies ativados se não tiver certeza se precisa deles ou não, caso sejam usados ​​para fornecer um serviço que você usa.
			</p>

			<h2>
				Os cookies que definimos
			</h2>

			<ul>

				<li>
					Cookies de preferências do site: para lhe proporcionar uma ótima experiência neste site, fornecemos a funcionalidade para definir suas preferências sobre como este site funciona quando você o usa. Para lembrar as suas preferências, precisamos definir cookies para que estas informações possam ser chamadas sempre que a sua interação com uma página for afetada pelas suas preferências.
				</li>

				<li>
					Cookies de terceiros: em alguns casos especiais, também utilizamos cookies fornecidos por terceiros de confiança. A seção a seguir detalha que cookies de terceiros você pode encontrar neste site.
				</li>

				<li>
					Google Analytics: este cookie permite-nos compreender a interação dos visitantes com o nosso site, e ajuda-nos a compreender e melhorar a experiência do usuário. O Google Analytics é a ferramenta analítica do Google que ajuda nosso site a entender como os visitantes interagem com suas propriedades. Pode usar um conjunto de cookies para coletar informações e relatar estatísticas de uso do site sem identificar pessoalmente os visitantes individuais do Google.
				</li>

				<li>
					Google Tag Manager: é um sistema que utilizamos para gerenciar tags ou scripts em nosso site. O próprio Gerenciador de Tags do Google não usa cookies e não coleta informações pessoais, mas aciona outras tags que podem coletar dados.
				</li>

			</ul>

			<h2>
				Suas escolhas em relação aos cookies
			</h2>

			<p>
				Se desejar excluir cookies ou instruir seu navegador para excluir ou recusar cookies, visite as páginas de ajuda do seu navegador.
			</p>

			<p>
				Observe, no entanto, que se eliminar cookies ou se recusar a aceitá-los, poderá não conseguir utilizar todas as funcionalidades que oferecemos, poderá não conseguir armazenar as suas preferências e algumas das nossas páginas poderão não ser apresentadas corretamente.
			</p>

			<p>
				Para o navegador Chrome, visite esta página do Google: <a href="https://support.google.com/accounts/answer/32050" target="_blank" rel="nofollow noopener">https://support.google.com/accounts/answer/32050</a>
			</p>

			<p>
				‍Para o navegador Edge, visite esta página da Microsoft: <a href="https://www.microsoft.com/en-us/edge/learning-center/how-to-manage-and-clear-your-cache-and-cookies?form=MA13I2" target="_blank" rel="nofollow noopener">https://www.microsoft.com/en-us/edge/learning-center/how-to-manage-and-clear-your-cache-and-cookies?form=MA13I2</a>
			</p>

			<p>
				‍Para o navegador Firefox, visite esta página do Mozilla: <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" target="_blank" rel="nofollow noopener">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a>
			</p>

			<p>
				Para o navegador Safari, visite esta página da Apple: <a href="https://support.apple.com/en-ie/guide/deployment/depf7d5714d4/web" target="_blank" rel="nofollow noopener">https://support.apple.com/en-ie/guide/deployment/depf7d5714d4/web</a>
			</p>

			<p>
				Para qualquer outro navegador, visite as páginas oficiais do seu navegador.
			</p>

			<h2>
				Política de Privacidade da Fenilux
			</h2>

			<p>
				Levamos a sua privacidade a sério e tratamos todos os dados pessoais que você nos fornece com muito cuidado. Nunca venderemos ou trocaremos seus dados com nenhuma outra organização e manteremos seus dados privados e seguros. Esta Política de Privacidade explica como armazenamos e utilizamos os dados pessoais que você nos fornece. Iremos informá-lo sobre qualquer atualização da nossa Política de Privacidade que possa afetá-lo.
			</p>

			<h2>
				Que dados pessoais tratamos
			</h2>

			<p>
				Coletaremos as seguintes informações:
			</p>

			<ul>

				<li>
					seu nome, endereço e data de nascimento;
				</li>

				<li>
					seu endereço de e-mail, número de telefone e detalhes do dispositivo que você usa (por exemplo, seu telefone, computador ou tablet);
				</li>

				<li>
					suas informações de registro;
				</li>

				<li>
					detalhes da sua conta bancária, incluindo o número da conta, código de classificação e IBAN;
				</li>

				<li>
					seu país de residência e número do CPF (Cadastro de Pessoas Físicas)
				</li>

			</ul>

			<h2>
				Qual é a sua base legal para usar meus dados pessoais
			</h2>

			<p>
				Devemos ter uma base legal (uma razão legal válida) para utilizar os seus dados pessoais. Nossa base jurídica será uma das seguintes:
			</p>

			<ul>

				<li>
					Cumprir os nossos contratos e acordos com você: precisamos de determinados dados pessoais para fornecer os nossos serviços e não podemos fornecê-los sem esses dados pessoais.
				</li>

				<li>
					Prevenção de fraude e segurança na identificação e autenticação em sistemas eletrônicos: em determinadas ocasiões poderemos recolher os seus dados pessoais, incluindo dados pessoais sensíveis para prevenir fraudes e garantir a segurança.
				</li>

			</ul>

			<h2>
				Como usamos seus dados
			</h2>

			<p>
				Os dados pessoais coletados e tratados por nós poderão ser utilizados para as seguintes finalidades:
			</p>

			<ul>

				<li>
					Verificação da sua identidade: Sempre que se registar na Fenilux, utilizaremos os seus dados pessoais para verificar a sua identidade ou a identidade dos titulares de contas conjuntas (no âmbito do nosso processo KYC);
				</li>

				<li>
					Para manter nossos serviços em funcionamento: usamos seus dados pessoais para gerenciar nosso site (incluindo solução de problemas, análise de dados, testes, pesquisas, estatísticas e pesquisas) e para garantir que o conteúdo seja apresentado da maneira mais eficaz para você e seu dispositivo;
				</li>

				<li>
					Autenticá-lo como usuário autorizado de nossos serviços quando necessário (por exemplo, se você entrar em contato com nosso suporte ao cliente ou equipes de mídia social);
				</li>

				<li>
					Permitir que você participe de recursos interativos de nossos serviços;
				</li>

				<li>
					Cumprir nossas obrigações contratuais e legais relacionadas a quaisquer produtos ou serviços que você usa
				</li>

				<li>
					Informar sobre alterações em nossos serviços;
				</li>

				<li>
					Ajudar a manter nosso site seguro e protegido;
				</li>

				<li>
					Proteção contra fraude;
				</li>

				<li>
					Marketing e fornecimento de produtos e serviços que possam lhe interessar.
				</li>

			</ul>

			<h2>
				Quais são os seus direitos
			</h2>

			<p>
				Você tem vários direitos em relação aos seus dados pessoais. Estes incluem acessar os seus dados, corrigir quaisquer erros, apagar os seus dados, restringir o processamento dos seus dados e opor-se ao processamento dos seus dados. Se os seus dados pessoais mudarem, ajude-nos a manter as suas informações atualizadas, notificando-nos. Você também pode solicitar acesso a qualquer informação que tenhamos sobre você a qualquer momento, escrevendo para a Fenilux.
			</p>

			<h2>
				Alterações nesta política
			</h2>

			<p>
				Poderemos alterar ou atualizar esta política de tempos em tempos, portanto, verifique esta página periodicamente. Iremos informá-lo sobre qualquer atualização da nossa Política de Privacidade que possa afetá-lo.
			</p>

			<h2>
				Mais informações
			</h2>

			<p>
				Para mais informações, você pode entrar em contato conosco através do e-mail: <a href="mailto:info@Fenilux.io">info@Fenilux.io</a>
			</p>

			<p>
				Ao usar nosso site, você concorda com nossa Política de Privacidade e Cookies e concorda com seus termos.
			</p>

		</div>

	</article>

{% endblock %}