.first-screen {

	position: relative;

	&__box {

		/* height: var(--vh); */
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__title {

		margin-bottom: var(--gap);

		b {

			font-weight: inherit;
			display: block;

		}

	}

	&__text {

		margin-bottom: 64px;
		font-size: 18px;
		line-height: 32px;
		max-width: 600px;

	}

	&__btn {

		display: flex;

		.btn {

			min-width: 300px;

		}

	}

	&__img {

		position: relative;
		width: 548px;
		height: 641px;

		&::before {

			position: absolute;
			width: 487px;
			height: 397px;
			left: 16px;
			top: 244px;
			content: '';
			background-color: var(--orange);
			filter: blur(126px);

		}

	}

	&__back {

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		display: flex;
		align-items: center;

	}

	&__front {

		position: absolute;
		top: 0;
		right: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(200deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%);
		box-shadow: -152.728px -84.8489px 169.698px rgba(0, 0, 0, 0.8);
		border-radius: 30px;

	}

	@media $desktop {



	}


}