.modal {

	flex-grow: 1;
	position: relative;
	z-index: 10;
	display: none;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 60px 20px;

	@media $xsWidth {

		padding: 40px 10px;

	}

	&__box {

		position: relative;
		max-width: 100%;

	}

	&__item {

		max-width: 100%;
		width: 440px;
		position: relative;
		padding: 48px 60px;
		background-color: var(--milk);

		@media $smWidth {

			padding: 20px;
			width: 360px;

		}

		&--done {

			width: 500px;

		}

		&--details {

			width: 416px;
			padding: 48px;

		}

		&--video {

			padding: 0 0 56.25% !important;
			border-radius: 0;
			width: 960px;
			height: 0;
			background-color: var(--color);

			@media $smWidth {

				width: 480px;

			}

			iframe {

				width: 100%;
				height: 100%;
				border: none;
				position: absolute;
				top: 0;
				left: 0;

			}

			&:not(.visuallyhidden) ~ .modal__close-btn {

				top: -36px;
				right: 0;
				color: #fff;

				html[dir="rtl"] & {

					left: 0;
					right: auto;

				}

			}

		}

	}

	&__close-btn {

		position: absolute;
		top: 12px;
		right: 12px;
		color: var(--sand);

		html[dir="rtl"] & {

			left: 12px;
			right: auto;

		}

		@media $desktop {

			&:hover {

				color: var(--dark);

			}

		}

	}

	&__item--done:not(.visuallyhidden) ~ &__close-btn {

		display: none;

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 9;
			opacity: .7;
			background-color: var(--color);

		}

	}

}

.modal-done {

	text-align: center;

	&__ico {

		display: flex;
		justify-content: center;
		margin-bottom: var(--gap);

		svg {

			fill: none;

			@media $smWidth {

				width: 48px;
				height: 48px;

			}

		}

	}

	&__title {

		@media $smWidth {

			font-size: 28px;
			line-height: 36px;

		}

	}

	&__message {

		margin: 16px 0;
		font-size: 18px;
		line-height: 24px;
		opacity: 0.8;

		@media $smWidth {

			font-size: 14px;

		}

	}

	&__btn {

		margin-top: 44px;
		display: flex;
		justify-content: center;

		.btn {

			padding: 20px 32px;

		}

		@media $smWidth {

			margin-top: var(--gap);

		}

	}

}

.modal-details {

	&__table {

		@media $smWidth {

			font-size: 14px;

		}

		table {

			width: 100%;
			border-collapse: collapse;
			border: 0;

		}

		th, td {

			vertical-align: middle;
			font-weight: 400;
			padding: 6px 0;
			font-size: 14px;
			line-height: 20px;

		}

		th {

			text-align: start;
			opacity: .6;

			&[colspan] {

				font-weight: 600;
				opacity: 1;

				&::before {

					content: '';
					display: block;
					margin: 12px 0 24px;
					height: 1px;
					background-color: var(--line);

				}

			}

		}

		tr:first-child th[colspan]::before {

			display: none;

		}

		td {

			text-align: end;
			font-weight: 500;
			width: 100px;
			white-space: nowrap;

		}

	}

}