.workflow {

	margin: var(--margin) 0;
	scroll-margin: var(--indent);

	&__list {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 60px;
		margin: 80px 0;
		counter-reset: headings 0;

		li {

			counter-increment: headings 1;
			color: rgba(229, 229, 229, 0.8);
			width: 350px;

			&::before {

				display: block;
				content: '0' counter(headings, decimal);
				color: #C4BE9F;
				font-family: Montserrat;
				font-size: 48px;
				font-weight: 600;
				line-height: 48px;
				margin-bottom: 20px;

			}

		}

	}

}