{% set title = translate.TITLE_SIGN_UP[lang] %}

{% set description = translate.DESCRIPTION_SIGN_UP[lang] %}

{% set folder = "sign-up" %}

{% set headerBtnOff = true %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<div class="form-page form-status">

			<div class="form-page__box">

				<div class="form-page__form">

					<p class="form-page__before before">
						{{ translate.FORM_SIGN_UP_BEFORE[lang] }}
					</p>

					<h1 class="form-page__title h3">
						{{ translate.FORM_SIGN_UP_TITLE[lang] }}
					</h1>

					<form action="/" class="form">

						<div class="form__row form__column">

							<label class="form__inputbox">

								<span class="form__label">
									{{ translate.FIRST_NAME[lang] }}
								</span>

								<span class="input-wrap">

									<input class="input" name="first-name" required="required">

								</span>

							</label>

							<label class="form__inputbox">

								<span class="form__label">
									{{ translate.LAST_NAME[lang] }}
								</span>

								<span class="input-wrap">

									<input class="input" name="last-name" required="required">

								</span>

							</label>

						</div>

						<div class="form__row form__column">

							<label class="form__inputbox">

								<span class="form__label">
									{{ translate.COMPANY_NAME[lang] }}
								</span>

								<span class="input-wrap">

									<input class="input" name="company-name" required="required">

								</span>

							</label>

							<label class="form__inputbox">

								<span class="form__label">
									{{ translate.WORK_EMAIL[lang] }}
								</span>

								<span class="input-wrap">

									<input class="input" name="work-email" type="email" required="required">

								</span>

							</label>

						</div>

						<div class="form__row form__column">

							<div class="form__inputbox">

								<span class="form__label">
									{{ translate.COUNTRY[lang] }}
								</span>

								<div class="select">

									<select name="country" required="required">

										<option value="">{{ translate.NONE[lang] }}</option>

										{% include "sign-up/country.html" %}

									</select>

								</div>

							</div>

							<label class="form__inputbox">

								<span class="form__label">
									{{ translate.PHONE[lang] }}
								</span>

								<span class="input-wrap">

									<input class="input" name="phone" type="tel">

								</span>

							</label>

						</div>

						<div class="form__row">

							<div class="form__inputbox">

								<span class="form__label">
									{{ translate.FORM_SIGN_UP_WHAT_RANGE[lang] }}?
								</span>

								<div class="select">

									<select name="range" required="required">

										<option value="">{{ translate.NONE[lang] }}</option>

										{% include "sign-up/range.html" %}

									</select>

								</div>

							</div>

						</div>

						<div class="form__checkbox">

							<label class="checkbox">

								<input type="checkbox" class="checkbox__input" required="required">

								<span class="checkbox__label">
									{{ translate.I_AGREE[lang] }} <a href="{{ subdomain }}/terms-and-conditions/" target="_blank">{{ translate.TERMS_CONDITIONS[lang] }}</a> and <a href="{{ subdomain }}/privacy-police/" target="_blank">{{ translate.PRIVACY_POLICY[lang] }}</a>
								</span>

							</label>

						</div>

						<button class="btn btn--brown form__submit">
							<span class="btn__inner">
								{{ translate.SUBMIT[lang] }}
							</span>
						</button>

						<div class="form__validation-message"></div>

						<p class="form__after">
							{{ translate.FORM_SIGN_UP_ACCOUNT_IS[lang] }}? <a href="{{ subdomain }}/sign-in/">{{ translate.SIGN_IN[lang] }}</a>
						</p>

					</form>

				</div>

				<hr class="form-page__sep">

				<div class="form-page__info border">

					<div class="border__inner">

						<h2 class="form-page__heading h4">
							{{ translate.FORM_SIGN_UP_INFO_TITLE[lang] | safe }}
						</h2>

						<p class="form-page__text">
							{{ translate.FORM_SIGN_UP_INFO_TEXT[lang] | safe }}
						</p>

						<ol class="form-page__list">

							<li>
								{{ translate.FORM_SIGN_UP_INFO_LIST[lang][0] | safe }}
								<small>
									{{ translate.FORM_SIGN_UP_INFO_LIST_SMALL[lang][0] | safe }}
								</small>
							</li>

							<li>
								{{ translate.FORM_SIGN_UP_INFO_LIST[lang][1] | safe }}
								<small>
									{{ translate.FORM_SIGN_UP_INFO_LIST_SMALL[lang][1] | safe }}
								</small>
							</li>

							<li>
								{{ translate.FORM_SIGN_UP_INFO_LIST[lang][2] | safe }}
							</li>

						</ol>

						<p class="form-page__text">
							{{ translate.FORM_SIGN_UP_INFO_SUPPORT[lang] | safe }} <a href="tel:+554841040770">+55 (48) 4104.0770</a>
						</p>

					</div>

				</div>

			</div>

			<aside class="form-page-done">

				<div class="form-page-done__inner">

					<div class="form-page-done__ico">

						<svg width="56" height="56" viewBox="0 0 56 56">
							<path d="M24.25 33.82 40.5 17l2.5 2.59L24.25 39 13 27.35l2.5-2.59 8.75 9.06Z"/>
						</svg>

					</div>

					<p class="form-page-done__title h2">
						{{ translate.FORM_SIGN_UP_DONE_TITLE[lang] | safe }}!
					</p>

					<p class="form-page-done__text">
						{{ translate.FORM_SIGN_UP_DONE_TEXT[lang] | safe }}
					</p>

					<a href="{{ subdomain }}/" class="form-page-done__btn btn btn--brown">
						<span class="btn__inner">{{ translate.FORM_SIGN_UP_DONE_BACK_HOME_PAGE[lang] }}</span>
					</a>

				</div>

			</aside>

		</div>

	</div>

{% endblock %}