{% for option in [
	{
		value : "below $250K",
		translate : "BELOW_$250K"
	},
	{
		value : "$250K - $1M"
	},
	{
		value : "$1M - $5M"
	},
	{
		value : "$5M - $25M"
	},
	{
		value : "$25M - $100M"
	},
	{
		value : "$100M and above",
		translate : "$100M_AND_ABOVE"
	},
	{
		value : "cannot share revenue",
		translate : "CANNOT_SHARE_REVENUE"
	}
] -%}

										<option value="{{ option.value }}">{% if option.translate %}{{ translate[option.translate][lang] }}{% else %}{{ option.value }}{% endif %}</option>

{%- endfor %}