{% set title = "Términos y Condiciones" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-02-28" class="before">
			Versión 1.1, 28 de Febrero de 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body counter-headings">

			<h2>
				Términos y Condiciones Generales
			</h2>

			<p class="counter-headings__point">
				Estos Términos Generales ("Términos") son un acuerdo marco que establece los términos de:
			</p>

			<ol type="a">

				<li>
					Tu ingreso a los Servicios de Fenilux; y
				</li>

				<li>
					el uso del Tablero de Fenilux y otros Servicios de Fenilux.
				</li>

			</ol>

			<p>
				Antes de que puedas ingresar a los Servicios de Fenilux con nosotros, es necesario que:
			</p>

			<p>
				Leas estos Términos y marques la casilla confirmando la exactitud de la información proporcionada y tu aceptación y acuerdo con estos Términos; y <br>
				Proporciones los documentos, fotografías e información que podamos solicitar razonablemente para cumplir con nuestras obligaciones regulatorias.
			</p>

			<p class="counter-headings__point">
				Deberás confirmar y proporcionarnos información válida, precisa y correcta. Te comprometes a que, si cambia la información previamente proporcionada, nos notificarás y actualizarás inmediatamente dicha información. Serás responsable de cualquier información inválida, inexacta e incorrecta que nos hayas proporcionado. No seremos responsables de ninguna pérdida derivada de tu falta de mantener la información actualizada.
			</p>

			<p class="counter-headings__point">
				Tu información será almacenada y asegurada de acuerdo con los términos de la Política de Privacidad.
			</p>

			<p class="counter-headings__point">
				Al aceptar y estar de acuerdo con estos Términos, también aceptas los Términos del Sitio Web, la Política de Cookies, la Política de Privacidad y cualquier suplemento, todos los cuales están disponibles en el Sitio Web.
			</p>

			<p class="counter-headings__point">
				Una vez que hayas completado lo anterior y hayas superado nuestros controles internos, pondremos el Tablero de Fenilux a tu disposición.
			</p>

			<p class="counter-headings__point">
				Fenilux se reserva el derecho de proporcionar algunos o todos los Productos y Servicios aquí descritos. Si un Producto o Servicio no se ofrece en tu jurisdicción, entonces no te serán aplicables las partes de estos Términos relacionadas con dicho Producto o Servicio.
			</p>

			<h2>
				Cancelación de tu Acceso.
			</h2>

			<p>
				Podemos detener tu acceso al Tablero de Fenilux por motivos razonables de seguridad,  según lo permitan las leyes aplicables.
			</p>

			<p>
				Si detenemos tu acceso en tales instancias, te informaremos a través de tu correo electrónico y te dirigiremos a nuestro equipo de atención al cliente.
			</p>

			<h2>
				Verificación de tu identidad.
			</h2>

			<p class="counter-headings__point">
				Aceptas colaborar con todas las solicitudes relacionadas con tu Cuenta de Fenilux, realizadas por nosotros o en nuestro nombre por cualquiera de nuestros proveedores de servicios (en su carácter de terceros), para identificar o autenticar tu identidad o validar tus fuentes de financiamiento o Servicios de Fenilux. Esto puede incluir, entre otros aspectos, la solicitud de información adicional que facilite a Fenilux tu identificación de manera razonable, como la confirmación de tu número de teléfono o instrumentos de pago, así como la verificación de tu información a través de bases de datos de terceros u otras fuentes. Todos tus datos estarán protegidos y resguardados conforme a los términos establecidos en nuestra Política de Privacidad.
			</p>

			<p class="counter-headings__point">
				Nos reservamos el derecho de cerrar, suspender o limitar el acceso a tus servicios de Fenilux en caso de que no podamos obtener o verificar dicha información, o si no cumplís con nuestras solicitudes según lo establecido en la Cláusula 3.1 de estos Términos.
			</p>

			<p class="counter-headings__point">
				Para corroborar la información proporcionada, Fenilux podrá verificar y/u obtener confidencialmente dicha información a través de bases de datos seguras de terceros. Las búsquedas que realicemos por nuestra cuenta, o a través de un tercero, pueden dejar un registro en tu historial crediticio, el cual no afectará tu calificación crediticia. Al aceptar estos términos, otorgás tu consentimiento para que Fenilux, o un tercero en nuestro nombre, lleve a cabo estas verificaciones, y entendés que son indispensables para que podamos proporcionarte nuestros servicios.
			</p>

			<p class="counter-headings__point">
				Debés asegurarte de que la información de tu Cuenta Fenilux sea siempre precisa y esté actualizada. Si creemos que tu información está desactualizada o es inexacta, podremos contactarte y solicitar información adicional, o requerir que vuelvas a pasar por el proceso de verificación.
			</p>

			<h2>
				Servicios de Fenilux
			</h2>

			<p class="counter-headings__point">
				Los siguientes son los "Servicios de Fenilux":
			</p>

			<ul>

				<li>
					Servicios de Agente de Pagos: Fenilux facilita la transferencia de fondos entre partes, actuando como intermediario de confianza, garantizando transacciones seguras y eficientes.
				</li>

				<li>
					Servicio de Pagos para Freelancers: Fenilux ofrece un servicio de pagos adaptado a Freelancers, permitiendo una compensación fluida y oportuna por sus servicios.
				</li>

				<li>
					Otros Servicios: Fenilux ofrece servicios adicionales, incluyendo la custodia, procesamiento y agregación de facturas, procedimientos mejorados de KYC, y medidas de Verificación de Identidad.
				</li>

			</ul>

			<p class="counter-headings__point">
				Los Servicios de Agente de Pagos implican la firma de un contrato para la entrega de bienes o prestación de servicios, entre dos partes: el  Cliente y el Contratista, donde ambas partes se someten a los procedimientos de KYC y de Verificación de Identidad a través de Fenilux. Al especificar a Fenilux como tu Agente de Pago en la sección de Términos de pago de dicho contrato, se garantiza un proceso de pago simplificado. Posteriormente, el Cliente, el Contratista y Fenilux firman un Acuerdo tripartito para regular el procedimiento de los Servicios de Agente de Pagos proporcionados por Fenilux. Este Acuerdo facilitará las transacciones financieras seguras y eficientes entre el Cliente y el Contratista.
			</p>

			<p>
				Fenilux asume la responsabilidad de recibir los fondos del Cliente y transferirlos al Contratista, reduciendo la carga administrativa en ambas partes y garantizando pagos oportunos, lo que fomenta la confianza y mejora las relaciones comerciales.
			</p>

			<p class="counter-headings__point">
				El Servicio de Pagos para Freelancers implica la firma de un contrato entre el Cliente y el Freelancer, donde se especifique a Fenilux como Agente de pago. En este acuerdo, Fenilux asume la responsabilidad para la agregación y procesamiento de facturas para Freelancers, la realización de procedimientos KYC y la custodia de fondos una vez que recibas los resultados del trabajo del Freelancer (ver sección 4.4). Este servicio simplifica el proceso de pago para ambas partes, garantizando el cumplimiento de los requisitos regulatorios y proporcionando seguridad y confianza adicionales en las transacciones Freelance.
			</p>

			<p class="counter-headings__point">
				Entre los servicios adicionales se encuentran, aunque no se limitan a ellos, los siguientes:
			</p>

			<ul>

				<li>
					Servicio de Custodia: Fenilux ofrece un almacenamiento seguro y la transferencia de fondos entre las partes, actuando como un intermediario confiable hasta que se cumplan los términos del acuerdo;
				</li>

				<li>
					Procesamiento y Agregación de Facturas: Fenilux ofrece servicios para el procesamiento y la recopilación de facturas, garantizando una gestión eficiente de los documentos financieros y simplificando el proceso de pago;
				</li>

				<li>
					Procedimientos de KYC: Fenilux lleva a cabo procedimientos avanzados de KYC, proporcionando un nivel adicional de verificación de identidad y seguridad para todos los participantes en la transacción.
				</li>

			</ul>

			<p class="counter-headings__point">
				Fenilux se reserva el derecho de negarse a entablar un Servicio de Fenilux contigo en cualquier momento y por cualquier motivo.
			</p>

			<p class="counter-headings__point">
				Fenilux te proporcionará recibos virtuales por las transacciones realizadas a través de los Servicios Fenilux. Los recibos estarán disponibles por correo electrónico. Fenilux no proporcionará, ni está obligado a proporcionarte, recibos físicos u otra confirmación escrita en relación a las transacciones realizadas a través de los Servicios de Fenilux.
			</p>

			<h2>
				Restricciones en el uso de los Servicios de Fenilux
			</h2>

			<p>
				No está permitido:
			</p>

			<ul>

				<li>
					Usar los Servicios de Fenilux para fines ilegales, incluyendo pero no limitándose, al fraude y al lavado de dinero, la compra y venta de productos falsificados, actividades de juego ilícitas, la compra o venta ilegal de tabaco y/o otros productos prohibidos por la ley.
				</li>

				<li>
					Fenilux reportará cualquier actividad sospechosa y cooperará con las agencias de aplicación de la ley o agencias reguladoras pertinentes.
				</li>

				<li>
					Incumplir estos Términos, u cualquier otro acuerdo o política a la que hayas accedido y/o acordado con Fenilux.
				</li>

				<li>
					Utilizar los Servicios de Fenilux con cualquier fin ilegal, incluyendo la compra o venta, y/o la facilitación de la compra o venta, de bienes o servicios ilegales.
				</li>

				<li>
					Infringir los derechos de autor, patentes, marcas registradas, secretos comerciales u otros derechos de propiedad intelectual de Fenilux, o de cualquier tercero, así como los derechos de publicidad y privacidad.
				</li>

				<li>
					Proporcionar información falsa, inexacta o engañosa.
				</li>

				<li>
					Usar proxy de anonimización; utilizar cualquier robot, araña o cualquier otro dispositivo automático o proceso manual para monitorear, controlar o copiar nuestro sitio web, sin previo permiso por escrito; interferir o intentar interferir con los Servicios de Fenilux.
				</li>

				<li>
					Negarte a cooperar en una investigación o proporcionar confirmación de tu identidad o de cualquier información que nos proporciones.
				</li>

			</ul>

			<h2>
				Sin Garantías
			</h2>

			<p class="counter-headings__point">
				Los servicios de Fenilux se proporcionan “as is” y “as available” ("tal como son" y "según estén disponibles"), sin ninguna representación o garantía, ya sea expresa, implícita o legal. Fenilux, así como sus empleados y proveedores, no otorgan ningún tipo de representación  o garantía en relación a los servicios, el contenido, los materiales, la información y las funciones accesibles a través de los Servicios de Fenilux, utilizados o accedidos por medios de los mismos. Tampoco se responsabiliza por cualquier violación de seguridad asociada con la transmisión de información sensible a través de los Servicios de Fenilux.
			</p>

			<p class="counter-headings__point">
				Fenilux no garantiza que los Servicios de Fenilux sean ininterrumpidos y estén libres de errores. Fenilux no será responsable de ninguna interrupción del servicio que no esté bajo su control, incluyendo, pero no limitado a, fallas del sistema u otras interrupciones que puedan afectar la recepción, procesamiento, aceptación, completación o liquidación de los Servicios de Fenilux.
			</p>

			<p class="counter-headings__point">
				Fenilux no tiene ningún control sobre los productos o servicios que se pagan utilizando los Servicios de Fenilux.
			</p>

			<p class="counter-headings__point">
				Fenilux no se hace responsable de la calidad, rendimiento o cualquier resultado consecuente de los productos y/o servicios adquiridos utilizando los Servicios de Fenilux.
			</p>

		</div>

	</article>

{% endblock %}