{% set title = "Termes et Conditions" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-02-28" class="before">
			Version 1.1, 28 February 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body counter-headings">

			<h2>
				Termes généraux et conditions
			</h2>

			<p class="counter-headings__point">
				Ces Termes généraux ("Termes") constituent un accord-cadre qui énonce les conditions de :
			</p>

			<ol type="a">

				<li>
					votre entrée en service Fenilux; et
				</li>

				<li>
					l'utilisation du tableau de bord Fenilux et d'autres services Fenilux.
				</li>

			</ol>

			<p>
				Avant de pouvoir utiliser les services Fenilux avec nous, vous devez:
			</p>

			<p>
				Lire ces Termes et cocher la case confirmant l'exactitude des informations fournies ainsi que votre acceptation et accord avec ces Termes; et <br>
				Nous fournir toute documentation, photographies et informations que nous pourrions raisonnablement demander pour nous conformer à nos obligations réglementaires.
			</p>

			<p class="counter-headings__point">
				Vous confirmerez et fournirez des informations valides, exactes et correctes. Vous vous engagez à nous notifier tout changement d'informations fournies et à mettre à jour immédiatement ces informations. Vous serez responsable de toute information invalide, inexacte et incorrecte que vous nous aurez fournie. Nous ne serons pas responsables des pertes découlant de votre incapacité à maintenir des informations à jour.
			</p>

			<p class="counter-headings__point">
				Vos informations seront stockées et sécurisées conformément aux termes de la Politique de confidentialité.
			</p>

			<p class="counter-headings__point">
				En acceptant et en acceptant ces Termes, vous acceptez également les Conditions d'utilisation du site Web, la Politique relative aux cookies, la Politique de confidentialité, et tout complément, tous disponibles sur le site Web.
			</p>

			<p class="counter-headings__point">
				Une fois que vous aurez terminé les étapes ci-dessus et que vous aurez passé nos vérifications internes, nous mettrons le tableau de bord Fenilux à votre disposition.
			</p>

			<p class="counter-headings__point">
				Fenilux se réserve le droit de fournir tout ou partie des produits et services décrits ici. Si un produit ou un service n'est pas proposé dans votre juridiction, les parties de ces Termes relatives à ce produit ou service ne vous seront pas applicables.
			</p>

			<h2>
				Résiliation de votre accès
			</h2>

			<p>
				Nous pouvons mettre fin à votre accès au tableau de bord Fenilux pour des raisons de sécurité et conformément aux lois applicables.
			</p>

			<p>
				Si nous mettons fin à votre accès dans de tels cas, nous vous informerons par e-mail et vous redirigerons vers notre équipe de service client.
			</p>

			<h2>
				Vérification de l'identité
			</h2>

			<p class="counter-headings__point">
				Vous acceptez de coopérer avec toutes les demandes formulées par nous ou l'un de nos prestataires de services tiers agissant en notre nom concernant votre compte Fenilux, afin d'identifier ou d'authentifier votre identité ou de valider vos sources de financement ou services Fenilux. Cela peut inclure, sans s'y limiter, vous demander des informations supplémentaires permettant à Fenilux de vous identifier raisonnablement, notamment en vous demandant de confirmer la propriété de votre numéro de téléphone ou de vos instruments de paiement, ou en vérifiant vos informations par rapport à des bases de données tierces ou par d'autres sources. Toutes vos données seront sécurisées et protégées conformément aux termes énoncés dans notre Politique de confidentialité.
			</p>

			<p class="counter-headings__point">
				Nous nous réservons le droit de fermer, suspendre ou limiter l'accès à vos services Fenilux si nous ne parvenons pas à obtenir ou à vérifier de telles informations, ou si vous ne respectez pas nos demandes conformément à la Clause 3.1 de ces Termes.
			</p>

			<p class="counter-headings__point">
				Nous pouvons vérifier confidentiellement les informations que vous nous fournissez ou obtenir des informations vous concernant nous-mêmes ou par le biais de tiers à partir de bases de données sécurisées. Certaines des recherches que nous ou un tiers pouvons effectuer, telles qu'une vérification de crédit, peuvent laisser une empreinte légère sur votre historique de crédit. Cela n'affectera pas votre cote de crédit. En acceptant ces Termes, vous confirmez que vous consentez à ce que nous ou un tiers agissant en notre nom effectuions de telles vérifications et comprenez que de telles vérifications sont indispensables pour que nous puissions vous fournir nos services.
			</p>

			<p class="counter-headings__point">
				Vous devez vous assurer que les informations de votre compte Fenilux sont toujours exactes et à jour. Si nous estimons à tout moment que vos informations sont obsolètes ou inexactes, nous pouvons vous contacter et vous demander des informations supplémentaires ou vous demander de passer à nouveau par le processus de vérification.
			</p>

			<h2>
				Services Fenilux
			</h2>

			<p class="counter-headings__point">
				Les "Services Fenilux" comprennent les suivants:
			</p>

			<ul>

				<li>
					Services d'Agent de Paiement : Fenilux facilite le transfert de fonds entre les parties en tant qu'intermédiaire de confiance, garantissant des transactions sécurisées et efficaces.
				</li>

				<li>
					Service de Paiement pour Freelancers : Fenilux propose un service de paiement adapté aux travailleurs indépendants, permettant une compensation transparente et opportune pour leurs services.
				</li>

				<li>
					Autres Services : Fenilux offre des services supplémentaires, comprenant la consignation, le traitement et l'agrégation de factures, des procédures KYC améliorées et des mesures de vérification d'identité.
				</li>

			</ul>

			<p class="counter-headings__point">
				Les Services d'Agent de Paiement impliquent que deux parties, le Client et le Contractant, se soumettent à des procédures KYC et de Vérification de l'Identité avec Fenilux et signent un contrat pour la livraison de biens ou la prestation de services. En spécifiant Fenilux comme leur Agent de Paiement dans la section Modalités de Paiement du contrat, ils garantissent un processus de paiement simplifié. Ensuite, le Client, le Contractant et Fenilux signent un Accord tripartite pour réglementer la procédure des Services d'Agent de Paiement fournis par Fenilux. Cet arrangement facilite les transactions financières sécurisées et efficaces entre le Client et le Contractant.
			</p>

			<p>
				Fenilux assume la responsabilité de recevoir les fonds du Client et de les transférer au Contractant, réduisant la charge administrative pour les deux parties et assurant des paiements en temps opportun, favorisant ainsi la confiance et améliorant les relations commerciales.
			</p>

			<p class="counter-headings__point">
				Le Service de Paiement pour Freelancers implique que le Client et le Freelancer signent un accord de coopération similaire à la section 4.2, avec Fenilux spécifié comme agent de paiement. Dans cet arrangement, Fenilux assume les responsabilités de l'agrégation et du traitement des factures des Freelancers, de la réalisation des procédures KYC et de la mise en consignation des fonds une fois que le Client a reçu les résultats du travail du Freelancer (voir la section 4.4). Ce service simplifie le processus de paiement pour les deux parties, garantissant la conformité aux exigences réglementaires et fournissant une sécurité et une confiance supplémentaires dans les transactions de freelance.
			</p>

			<p class="counter-headings__point">
				Les Autres Services incluent, mais ne sont pas limités à, les services supplémentaires suivants:
			</p>

			<ul>

				<li>
					Service de Consignation : Fenilux assure la garde et le transfert sécurisés des fonds entre les parties, agissant en tant qu'intermédiaire fiable jusqu'à ce que les termes de l'accord soient respectés;
				</li>

				<li>
					Traitement et Agrégation de Factures : Fenilux propose des services de traitement et de collecte de factures, garantissant une gestion efficace des documents financiers et simplifiant le processus de paiement;
				</li>

				<li>
					Procédures KYC Améliorées : Fenilux réalise des procédures avancées de Connaissance de Votre Client (KYC), fournissant un niveau supplémentaire de vérification d'identité et de sécurité pour tous les participants aux transactions.
				</li>

			</ul>

			<p class="counter-headings__point">
				Fenilux peut refuser d'entrer en service Fenilux avec vous à tout moment et pour quelque raison que ce soit.
			</p>

			<p class="counter-headings__point">
				Fenilux fournit des reçus virtuels pour les transactions réussies des Services Fenilux que vous avez entreprises. Ces reçus sont disponibles par e-mail. Fenilux ne fournira pas et n'est pas obligé de vous fournir un reçu physique ou une autre confirmation écrite en relation avec une transaction des Services Fenilux.
			</p>

			<h2>
				Restrictions sur l'utilisation des Services Fenilux
			</h2>

			<p>
				Il n'est pas permis de:
			</p>

			<ul>

				<li>
					utiliser les Services Fenilux à des fins illégales, y compris, mais sans s'y limiter, la fraude et le blanchiment d'argent, la contrefaçon de produits, les activités de jeu illégales, l'achat ou la vente illégale de tabac ou d'autres produits interdits par la loi. Fenilux signalera toute activité suspecte et coopérera avec tout organisme d'application de la loi ou régulateur pertinent;
				</li>

				<li>
					enfreindre ces Termes, ou tout autre accord ou politique que vous avez accepté avec Fenilux;
				</li>

				<li>
					utiliser les Services Fenilux pour violer toute loi, statut, ordonnance ou réglementation;
				</li>

				<li>
					utiliser les Services Fenilux à des fins illégales, y compris l'achat ou la vente, ou la facilitation de l'achat ou de la vente, de biens ou services illégaux;
				</li>

				<li>
					enfreindre les droits d'auteur, brevets, marques de commerce, secrets commerciaux ou autres droits de propriété intellectuelle de Fenilux ou de tout tiers, ou les droits à la publicité ou à la confidentialité;
				</li>

				<li>
					nous fournir des informations fausses, inexactes ou trompeuses;
				</li>

				<li>
					utiliser un proxy anonymisant; utiliser tout robot, araignée, autre dispositif automatique, ou processus manuel pour surveiller ou copier notre site Web sans notre autorisation écrite préalable; ou interférer ou tenter d'interférer avec les Services Fenilux;
				<li>
					refuser de coopérer à une enquête ou fournir une confirmation de votre identité ou de toute information que vous nous fournissez.
				</li>

			</ul>

			<h2>
				Absence de garantie
			</h2>

			<p class="counter-headings__point">
				Les Services Fenilux sont fournis "tels quels", "selon leur disponibilité" et sans aucune représentation ou garantie, qu'elle soit expresse, implicite ou légale. Fenilux, ainsi que les employés et fournisseurs de Fenilux, ne font aucune représentation ou garantie d'aucune sorte pour les services ou le contenu, les matériaux, les informations et les fonctions rendus accessibles par les Services Fenilux utilisés sur ou accessibles via les Services Fenilux, ou pour toute violation de sécurité associée à la transmission d'informations sensibles via les Services Fenilux.
			</p>

			<p class="counter-headings__point">
				Fenilux ne garantit pas que les Services Fenilux seront ininterrompus ou exempts d'erreurs. Fenilux ne sera pas responsable des interruptions de service qui ne sont pas sous son contrôle, y compris, mais sans s'y limiter, les pannes de système ou autres interruptions susceptibles d'affecter la réception, le traitement, l'acceptation, l'achèvement ou le règlement des Services Fenilux.
			</p>

			<p class="counter-headings__point">
				Fenilux n'a aucun contrôle sur les produits ou services qui sont payés en utilisant les Services Fenilux.
			</p>

			<p class="counter-headings__point">
				Fenilux n'est pas responsable de la qualité, des performances, ou des résultats consécutifs des produits et/ou services achetés en utilisant les Services Fenilux.
			</p>

		</div>

	</article>

{% endblock %}