{% set title = "Termos e Condições" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-02-28" class="before">
			Versão 1.1, 28 de fevereiro de 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body counter-headings">

			<h2>
				Termos e Condições Gerais
			</h2>

			<p class="counter-headings__point">
				Estes Termos Gerais (“Termos”) constituem um acordo estruturado que estabelece os termos de:
			</p>

			<ol type="a">

				<li>
					você e nós celebrando os Serviços Fenilux; e
				</li>

				<li>
					o uso do Fenilux Dashboard e outros Serviços Fenilux.
				</li>

			</ol>

			<p>
				Antes de poder contratar os Serviços Fenilux conosco, você deve:
			</p>

			<p>
				Ler estes Termos e marcar a caixa que confirma a veracidade das informações fornecidas e sua aceitação e concordância com estes Termos; e <br>
				Fornecer-nos a documentação, fotografias e informações que possamos razoavelmente solicitar para cumprir nossas obrigações regulatórias.
			</p>

			<p class="counter-headings__point">
				Você confirmará e fornecerá informações válidas, precisas e corretas para nós. Você se compromete a que, se alguma informação fornecida a nós mudar, você nos notificará e atualizará essas informações imediatamente. Você será responsável por qualquer informação inválida, imprecisa e incorreta que possa ter nos fornecido. Não seremos responsáveis ​​por quaisquer perdas decorrentes da sua falha em manter informações atualizadas.
			</p>

			<p class="counter-headings__point">
				Suas informações serão armazenadas e protegidas de acordo com os termos da Política de Privacidade.
			</p>

			<p class="counter-headings__point">
				Ao aceitar e concordar com estes Termos, você também concorda com os Termos do Site, a Política de Cookies, a Política de Privacidade e quaisquer suplementos, todos disponíveis no Site.
			</p>

			<p class="counter-headings__point">
				Depois de ter concluído o acima exposto e ter passado nas nossas verificações internas, disponibilizaremos o Fenilux Dashboard para você.
			</p>

			<p class="counter-headings__point">
				A Fenilux reserva-se o direito de fornecer alguns ou todos os Produtos e Serviços aqui descritos. Se um Produto ou Serviço não for oferecido em sua jurisdição, as partes destes Termos relacionadas a esse Produto ou Serviço não se aplicarão a você.
			</p>

			<h2>
				Encerrando o seu acesso
			</h2>

			<p>
				Poderemos impedir o seu acesso ao Fenilux Dashboard por motivos razoáveis, por motivos de segurança e conforme permitido pelas leis aplicáveis.
			</p>

			<p>
				Se interrompermos o seu acesso nesses casos, iremos informá-lo por e-mail e encaminhá-lo para a nossa equipe de atendimento ao cliente.
			</p>

			<h2>
				Verificação de identidade
			</h2>

			<p class="counter-headings__point">
				Você concorda em cooperar com todos os pedidos feitos por nós ou por qualquer um dos nossos prestadores de serviços terceiros em nosso nome em relação à sua Conta Fenilux, para identificar ou autenticar a sua identidade ou validar as suas fontes de financiamento ou Serviços Fenilux. Isto pode incluir, mas não está limitado a pedir-lhe informações adicionais que permitirão à Fenilux identificá-lo razoavelmente, incluindo exigir que tome medidas para confirmar a propriedade do seu número de telefone ou instrumentos de pagamento ou verificar as suas informações em bases de dados de terceiros ou através de outras fontes. Todos os seus dados estarão seguros e protegidos de acordo com os termos estabelecidos na nossa Política de Privacidade.
			</p>

			<p class="counter-headings__point">
				Reservamo-nos o direito de encerrar, suspender ou limitar o acesso aos seus Serviços Fenilux caso não consigamos obter, verificar essas Informações ou você não cumpra com os nossos pedidos conforme a Cláusula 3.1 destes Termos.
			</p>

			<p class="counter-headings__point">
				Podemos verificar confidencialmente as informações que você nos fornece ou obter informações sobre você nós mesmos ou através de terceiros a partir de bancos de dados seguros. Algumas das pesquisas que nós ou terceiros podemos realizar, como uma verificação de crédito, podem deixar uma marca no seu histórico de crédito. Isso não afetará sua classificação de crédito. Ao celebrar estes Termos, você confirma que consente conosco ou com um terceiro em nosso nome para realizar essas verificações e entende que essas verificações são indispensáveis ​​para que possamos fornecer nossos serviços a você.
			</p>

			<p class="counter-headings__point">
				Você deve garantir que as informações da sua Conta Fenilux sejam sempre precisas e atualizadas. Se a qualquer momento acreditarmos que suas informações estão desatualizadas ou imprecisas, poderemos entrar em contato com você e solicitar mais informações ou solicitar que você passe pelo processo de verificação novamente.
			</p>

			<h2>
				Serviços Fenilux
			</h2>

			<p class="counter-headings__point">
				Os seguintes são “Serviços Fenilux”:
			</p>

			<ul>

				<li>
					Serviços de Agente de Pagamento: A Fenilux facilita a transferência de fundos entre as partes como um intermediário confiável, garantindo transações seguras e eficientes.
				</li>

				<li>
					Serviço de Pagamento Freelancer: A Fenilux oferece um serviço de pagamento adaptado aos trabalhadores freelancers, permitindo uma compensação integrada e oportuna pelos seus serviços.
				</li>

				<li>
					Outros serviços: A Fenilux oferece serviços adicionais, incluindo depósito, processamento e agregação de faturas, procedimentos KYC aprimorados e medidas de verificação de identidade.
				</li>

			</ul>

			<p class="counter-headings__point">
				Os Serviços de Agente de Pagamento implicam que duas partes, o Cliente e o Contratante, realizem procedimentos de KYC e Verificação de Identidade com a Fenilux e assinem um contrato de entrega de bens ou prestação de serviços. Ao especificar a Fenilux como seu Agente de Pagamento na seção Termos de Pagamento do contrato, garante-se um processo de pagamento simplificado. Posteriormente, o Cliente, o Contratante e a Fenilux assinam um Acordo tripartido para regular o procedimento dos Serviços de Agente Pagador prestados pela Fenilux. Este acordo facilita transações financeiras seguras e eficientes entre o Cliente e o Contratante.
			</p>

			<p>
				A Fenilux assume a responsabilidade de receber fundos do Cliente e transferi-los para o Contratante, reduzindo a carga administrativa para ambas as partes e garantindo pagamentos oportunos, promovendo assim a confiança e melhorando as relações comerciais.
			</p>

			<p class="counter-headings__point">
				O Serviço de Pagamento Freelancer envolve a assinatura entre o Cliente e o Freelancer de um acordo de cooperação semelhante ao ponto 4.2, sendo a Fenilux especificada como agente pagador. Neste acordo, a Fenilux assume a responsabilidade de agregar e processar faturas de Freelancers, conduzir procedimentos KYC e garantir fundos após o Cliente receber os resultados do trabalho do Freelancer (ver seção 4.4). Este serviço agiliza o processo de pagamento para ambas as partes, garantindo o cumprimento dos requisitos regulamentares e proporcionando maior segurança e confiança nas transações freelance.
			</p>

			<p class="counter-headings__point">
				Outros Serviços incluem, mas não estão limitados aos seguintes serviços adicionais:
			</p>

			<ul>

				<li>
					Serviço de Custódia: A Fenilux fornece retenção e transferência segura de fundos entre as partes, atuando como um intermediário confiável até que os termos do acordo sejam cumpridos;
				</li>

				<li>
					Processamento e Agregação de Faturas: A Fenilux oferece serviços de processamento e cobrança de faturas, garantindo uma gestão eficiente da documentação financeira e simplificando o processo de pagamento;
				</li>

				<li>
					Procedimentos KYC aprimorados: A Fenilux conduz procedimentos avançados Know Your Customer (KYC), fornecendo um nível adicional de verificação de identidade e segurança para todos os participantes da transação.
				</li>

			</ul>

			<p class="counter-headings__point">
				A Fenilux pode recusar-se a celebrar Serviços Fenilux com você em qualquer momento e por qualquer motivo.
			</p>

			<p class="counter-headings__point">
				A Fenilux fornece recibos virtuais para transações bem-sucedidas de Serviços Fenilux realizadas por você. Esses recibos estão disponíveis por e-mail. A Fenilux não irá e não tem obrigação de lhe fornecer um recibo físico ou outra confirmação por escrito em relação a qualquer transação de Serviços Fenilux.
			</p>

			<h2>
				Restrições ao uso dos Serviços Fenilux
			</h2>

			<p>
				Não é permitido:
			</p>

			<ul>

				<li>
					usar os Serviços Fenilux para quaisquer fins ilegais, incluindo, entre outros, fraude e lavagem de dinheiro, produtos falsificados, atividades de jogo ilegais, compra ou venda ilegal de tabaco ou outros produtos proibidos por lei. A Fenilux denunciará qualquer atividade suspeita e cooperará com qualquer agência de aplicação da lei ou regulador relevante;
				</li>

				<li>
					violar estes Termos, ou qualquer outro acordo ou política que tenha acordado com a Fenilux;
				</li>

				<li>
					usar os Serviços Fenilux para violar qualquer lei, estatuto, portaria ou regulamento;
				</li>

				<li>
					usar os Serviços Fenilux para quaisquer fins ilegais, incluindo a compra ou venda, ou a facilitação da compra ou venda de bens ou serviços ilegais;
				</li>

				<li>
					infringir os direitos autorais, de patente, marca comercial, segredo comercial ou outros direitos de propriedade intelectual da Fenilux ou de terceiros, ou direitos de publicidade ou privacidade;
				</li>

				<li>
					fornecer-nos informações falsas, imprecisas ou enganosas;
				</li>

				<li>
					use um proxy anonimizador; usar qualquer robô, spider, outro dispositivo automático ou processo manual para monitorar ou copiar nosso Site sem nossa permissão prévia por escrito; ou interferir ou tentar interferir nos Serviços Fenilux;
				</li>

				<li>
					recusar-se a cooperar em uma investigação ou fornecer confirmação de sua identidade ou de qualquer informação que você nos forneça.
				</li>

			</ul>

			<h2>
				Sem garantia
			</h2>

			<p class="counter-headings__point">
				Os Serviços Fenilux são fornecidos “no estado em que se encontram”, “conforme disponíveis” e sem qualquer representação ou garantia, seja expressa, implícita ou estatutária. A Fenilux, e os funcionários e fornecedores da Fenilux, não fazem nenhuma representação ou garantia de qualquer tipo pelos serviços ou pelo conteúdo, materiais, informações e funções disponibilizadas pelos Serviços Fenilux utilizados ou acessados ​​através dos Serviços Fenilux, ou por qualquer violação de segurança associada à transmissão de informação sensível através dos Serviços Fenilux.
			</p>

			<p class="counter-headings__point">
				A Fenilux não garante que os Serviços Fenilux serão ininterruptos ou isentos de erros. A Fenilux não será responsável por quaisquer interrupções de serviço que não estejam sob o seu controle, incluindo, mas não limitado a, falhas de sistema ou outras interrupções que possam afetar a recepção, processamento, aceitação, conclusão ou liquidação dos Serviços Fenilux.
			</p>

			<p class="counter-headings__point">
				A Fenilux não tem nenhum controle sobre os produtos ou serviços pagos pela utilização dos Serviços Fenilux.
			</p>

			<p class="counter-headings__point">
				A Fenilux não é responsável pela qualidade, desempenho ou quaisquer resultados consequentes dos produtos e/ou serviços adquiridos através dos Serviços Fenilux.
			</p>

		</div>

	</article>

{% endblock %}