{% set title = "Условия и положения" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="page-text center">

		<time datetime="2024-02-28" class="before">
			Версия 1.1, от 28 февраля 2024
		</time>

		<h1 class="page-text__title h1">
			{{ title }}
		</h1>

		<div class="page-text__body counter-headings">

			<h2>
				Общие условия
			</h2>

			<p class="counter-headings__point">
				Общие условия ("Условия") являются рамочным соглашением, которое устанавливает условия:
			</p>

			<ol type="a">

				<li>
					вашего и нашего вступления в Fenilux Services; и
				</li>

				<li>
					использования Fenilux Dashboard и других Fenilux Services.
				</li>

			</ol>

			<p>
				Прежде чем вы сможете войти в Fenilux Services с нами, вам необходимо:
			</p>

			<p>
				Прочитать эти Условия и поставить отметку в графе, подтверждающей точность предоставленной информации, а также ваше согласие и согласование с этими Условиями; и <br>
				Предоставить нам такие документы, фотографии и информацию, которые мы можем разумно запросить для выполнения наших регуляторных обязательств.
			</p>

			<p class="counter-headings__point">
				Вы подтверждаете и предоставляете нам действительную, точную и корректную Информацию. Вы обязуетесь, если какая-либо информация, предоставленная нам, изменится, вы уведомите нас и немедленно обновите такую ​​информацию. Вы несете ответственность за любую недействительную, неточную и некорректную информацию, которую вы могли предоставить нам. Мы не несем ответственности за любые убытки, возникающие из вашей неспособности поддерживать актуальную информацию.
			</p>

			<p class="counter-headings__point">
				Ваша информация будет храниться и обеспечиваться в соответствии с условиями Политики конфиденциальности.
			</p>

			<p class="counter-headings__point">
				Принимая и соглашаясь с этими Условиями, вы также соглашаетесь с Условиями веб-сайта, Политикой в отношении файлов cookie, Политикой конфиденциальности и любыми дополнениями, все они доступны на веб-сайте.
			</p>

			<p class="counter-headings__point">
				После завершения вышеуказанного и успешного прохождения наших внутренних проверок, мы сделаем Fenilux Dashboard доступным для вас.
			</p>

			<p class="counter-headings__point">
				Fenilux оставляет за собой право предоставлять часть или все описанные здесь Продукты и Услуги. Если Продукт или Услуга не предлагается в вашей юрисдикции, то части этих Условий, относящиеся к такому Продукту или Услуге, не будут применяться к вам.
			</p>

			<h2>
				Прекращение доступа
			</h2>

			<p>
				Мы можем прекратить ваш доступ к панели управления Fenilux по разумным основаниям по соображениям безопасности и в соответствии с применимыми законами.
			</p>

			<p>
				Если мы прекратим ваш доступ в таких случаях, мы уведомим вас по электронной почте и направим вас к нашей службе поддержки клиентов.
			</p>

			<h2>
				Проверка личности
			</h2>

			<p class="counter-headings__point">
				Вы соглашаетесь сотрудничать со всеми запросами, предъявленными нами или нашими сторонними поставщиками услуг от нашего имени в связи с вашим аккаунтом Fenilux, для идентификации или аутентификации вашей личности или проверки ваших источников финансирования или Fenilux Services. Это может включать, но не ограничивается, запросами дополнительной информации, которая позволит Fenilux разумно идентифицировать вас, включая требования подтверждения владения вашим номером телефона или платежными инструментами или проверку вашей информации по базам данных третьих лиц или через другие источники. Все ваши данные будут безопасны и защищены в соответствии с условиями, изложенными в нашей Политике конфиденциальности.
			</p>

			<p class="counter-headings__point">
				Мы оставляем за собой право закрыть, приостановить или ограничить доступ к Fenilux Services, если мы не сможем получить или подтвердить такую информацию или вы не будете соответствовать нашим запросам в соответствии с пунктом 3.1 этих Условий.
			</p>

			<p class="counter-headings__point">
				Мы можем конфиденциально проверить предоставленную вами информацию или получить информацию о вас сами или через сторонних лиц из безопасных баз данных. Некоторые из поисков, которые мы или третье лицо можем выполнять, такие как проверка кредитной истории, могут оставить мягкий след в вашей кредитной истории. Это не повлияет на вашу кредитную оценку. Вступая в эти Условия, вы подтверждаете, что соглашаетесь на то, чтобы мы или третьи лица от нашего имени выполняли такие проверки и понимаете, что такие проверки являются необходимыми для нас для предоставления вам наших услуг.
			</p>

			<p class="counter-headings__point">
				Вы должны обеспечить актуальность и точность информации на вашем аккаунте Fenilux всегда. Если в любое время мы считаем, что ваша информация устарела или неточна, мы можем связаться с вами и запросить дополнительную информацию или запросить, чтобы вы прошли процесс верификации снова.
			</p>

			<h2>
				Услуги Fenilux
			</h2>

			<p class="counter-headings__point">
				Следующие услуги являются "Услугами Fenilux":
			</p>

			<ul>

				<li>
					Услуги Платежного Агента: Fenilux облегчает передачу средств между сторонами в качестве доверенного посредника, обеспечивая безопасные и эффективные транзакции.
				</li>

				<li>
					Услуги Платежей Фрилансерам: Fenilux предлагает платежную услугу, адаптированную к работникам-фрилансерам, обеспечивая беспроблемную и своевременную компенсацию за их услуги.
				</li>

				<li>
					Другие Услуги: Fenilux предлагает дополнительные услуги, включая услуги эскроу, обработку и агрегацию счетов, улучшенные процедуры KYC и меры верификации личности.
				</li>

			</ul>

			<p class="counter-headings__point">
				Услуги Платежного Агента предполагают, что две стороны, Клиент и Исполнитель, проходят процедуры KYC и верификации личности с Fenilux и подписывают договор на поставку товаров или оказание услуг. Указав Fenilux в качестве своего Платежного Агента в разделе Условия Платежа договора, они обеспечивают упрощенный процесс оплаты. Впоследствии Клиент, Исполнитель и Fenilux подписывают трехстороннее Соглашение, регулирующее процедуру предоставления Услуг Платежного Агента Fenilux. Эта договоренность обеспечивает безопасные и эффективные финансовые транзакции между Клиентом и Исполнителем.
			</p>

			<p>
				Fenilux берет на себя ответственность за прием средств от Клиента и их передачу Исполнителю, снижая административную нагрузку на обе стороны и обеспечивая своевременные платежи, тем самым способствуя доверию и укреплению деловых отношений.
			</p>

			<p class="counter-headings__point">
				Услуга Платежей Фрилансерам включает подписание соглашения о сотрудничестве между Клиентом и Фрилансером, аналогичного разделу 4.2, с указанием Fenilux в качестве платежного агента. В этой договоренности Fenilux берет на себя обязанности по агрегации и обработке счетов от Фрилансеров, проведению процедур KYC и удержанию средств после получения Клиентом результатов работы Фрилансера. Эта услуга упрощает процесс оплаты для обеих сторон, обеспечивает соблюдение регуляторных требований и обеспечивает дополнительную безопасность и доверие в фрилансерских транзакциях.
			</p>

			<p class="counter-headings__point">
				Другие Услуги включают, но не ограничиваются, следующими дополнительными услугами:
			</p>

			<ul>

				<li>
					Услуга Эскроу: Fenilux предоставляет безопасное хранение и передачу средств между сторонами, выступая надежным посредником до выполнения условий соглашения;
				</li>

				<li>
					Обработка и Агрегация Счетов: Fenilux предлагает услуги по обработке и сбору счетов, обеспечивая эффективное управление финансовыми документами и упрощение процесса оплаты;
				</li>

				<li>
					Улучшенные Процедуры KYC: Fenilux проводит продвинутые процедуры "Знай своего клиента" (KYC), обеспечивая дополнительный уровень верификации личности и безопасности для всех участников транзакции.
				</li>

			</ul>

			<p class="counter-headings__point">
				Fenilux может отказать в предоставлении Услуг Fenilux в любое время и по любой причине.
			</p>

			<p class="counter-headings__point">
				Fenilux предоставляет виртуальные квитанции за успешные транзакции Услуг Fenilux, совершенные вами. Эти квитанции доступны по электронной почте. Fenilux не обязуется и не имеет обязательства предоставить вам физическую квитанцию или другое письменное подтверждение в связи с любой транзакцией Услуг Fenilux.
			</p>

			<h2>
				Ограничения на использование Услуг Fenilux
			</h2>

			<p>
				Запрещается:
			</p>

			<ul>

				<li>
					использовать Услуги Fenilux для любых незаконных целей, включая, но не ограничиваясь, мошенничеством и отмыванием денег, подделкой продукции, незаконными азартные игры, незаконной покупке или продаже табака или других продуктов, запрещенных законом. Fenilux сообщит о любой подозрительной деятельности и сотрудничает с любым соответствующим правоохранительным органом или регулятором;
				</li>

				<li>
					нарушать эти Условия или любое другое соглашение или политику, с которыми вы согласились с Fenilux;
				</li>

				<li>
					использовать Услуги Fenilux для нарушения любого закона, статута, постановления или регуляции;
				</li>

				<li>
					использовать Услуги Fenilux для любых незаконных целей, включая покупку или продажу, или облегчение покупки или продажи, незаконных товаров или услуг;
				</li>

				<li>
					нарушать авторские права, патенты, товарные знаки, коммерческую тайну или другие права интеллектуальной собственности Fenilux или любого третьего лица, а также права на публичность или конфиденциальность;
				</li>

				<li>
					предоставлять нам ложную, неточную или вводящую в заблуждение информацию;
				</li>

				<li>
					использовать анонимизирующий прокси; использовать любого робота, паука, другое автоматическое устройство или ручной процесс для мониторинга или копирования нашего веб-сайта без нашего предварительного письменного разрешения; или пытаться вмешиваться в Услуги Fenilux;
				</li>

				<li>
					отказаться сотрудничать в расследовании или предоставить подтверждение вашей личности или любой информации, которую вы предоставили нам.
				</li>

			</ul>

			<h2>
				Отсутствие гарантии
			</h2>

			<p class="counter-headings__point">
				Услуги Fenilux предоставляются на условиях "как есть", "как доступные" и без каких-либо представлений или гарантий, явных, подразумеваемых или установленных законом. Fenilux и сотрудники и поставщики Fenilux не делают никаких представлений или гарантий любого рода относительно услуг или контента, материалов, информации и функций, сделанных доступными с помощью Услуг Fenilux, используемых на или получаемых через Услуги Fenilux, или по поводу нарушения безопасности, связанного с передачей чувствительной информации через Услуги Fenilux.
			</p>

			<p class="counter-headings__point">
				Fenilux не гарантирует, что Услуги Fenilux будут бесперебойными или безошибочными. Fenilux не несет ответственности за любые прерывания услуг, не подпадающие под ее контроль, включая, но не ограничиваясь, сбои системы или другие прерывания, которые могут повлиять на получение, обработку, принятие, завершение или урегулирование Услуг Fenilux.
			</p>

			<p class="counter-headings__point">
				Fenilux не имеет контроля над продуктами или услугами, которые оплачиваются с использованием Услуг Fenilux.
			</p>

			<p class="counter-headings__point">
				Fenilux не несет ответственности за качество, производительность или любые последующие результаты продуктов и/или услуг, приобретенных с использованием Услуг Fenilux.
			</p>

		</div>

	</article>

{% endblock %}