{% set title = "Next Generation Payment Network" %}

{% set description = "End-to-end payments, transactions with freelancers, and the acquisition of digital assets in a single solution. Meet the financial technology platform that helps you realize your ambitions faster." %}

{% set preloadImage = [
	{
		media : "(min-width: 1200px)",
		img   : "/img/first-screen/548x641.webp",
		imagesrcset : "/img/first-screen/548x641.webp 1x, /img/first-screen/1096x1282.webp 2x"
	},
	{
		media : "(min-width: 768px) and (max-width: 1199px)",
		img   : "/img/first-screen/850x1000.webp",
		imagesrcset : "/img/first-screen/850x1000.webp"
	},
	{
		media : "(max-width: 767px)",
		img   : "/img/first-screen/564x662.webp",
		imagesrcset : "/img/first-screen/564x662.webp"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/first-screen.html" %}

{% include "main/benefits.html" %}

{% include "main/ecosystem.html" %}

{% include "main/workflow.html" %}

{% include "main/get-started.html" %}

{% endblock %}